* {
    box-sizing: border-box;
    
  }
  
  
  body {
    
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(238, 135, 97);
    
    background-image: url(../images/pexels-cristian-rojas-7260637.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
      /*background-attachment: fixed;*/ 
    color: whitesmoke;
    
  }
  @media only screen and (min-width: 280px) {
    body {
      
      font-size: 1.5em;
      /*max-width: 480px;*/
    }
  }
  @media only screen and (min-width: 480px) {
    body {
      
      font-size: 2em;
      /*max-width: 480px;*/
    }
  }
  @media only screen and (min-width: 768px) {
    body {
      
      font-size: 2em;
      
    }
  }
  
  @media only screen and (min-width: 1024px) {
    body {
     
      font-size: 1.5em;
      
    }
  }
  
  @media only screen and (min-width: 1200px) {
    body {
      
      font-size: 1.2em;
      
    }
  }
  
  .item {
    /*border-bottom: 2px solid whitesmoke;
    border-collapse: collapse;*/
    padding: .5em;
    margin: 0;
  }
  
  .item1 { 
    grid-area: header;
    height: 5em; 
    /*height: 60px;*/  
    position: fixed;
    top: 0;  
    width: 100%;
    background-color: rgba(238, 135, 97, .4);
   
    /*border-bottom: 3px solid whitesmoke;*/
    
    z-index: 1;
  }
  /*
  .item2 { 
    grid-area: menu;
    height: 100vh;
    
   }
   */
  .item3 { 
    grid-area: main;  
    height: auto;  
    margin: 2.5em auto auto auto;
    
    padding-top: 3.5em .5em .5em .5em;  
    
  }
  
  /*
  .item4 { 
    grid-area: right;
    height: auto;
  }
  */
  .item5 { 
    grid-area: footer;
    height: auto;
  }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'main main main main main main'
      'footer footer footer footer footer footer';
    /*grid-gap: 10px;*/  
     background-color: transparent;
  }
  
  
  /* header css starts */
  .header {  
     
    color: whitesmoke;
   
    /*background-color: rgba(238, 135, 97, .6);*/
  }
  
  .header .headernav {
    display: flex; 
    position: absolute;
    top: 1em;
    right: 1.2em;
    font-size: 1.25em;
  }
  .header .headernav ul {
    display: flex; 
    
  }
  .header .headernav ul li {
     list-style: none;  
  }
  
  .header .headernav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.25;
    padding: .7em;
    text-align: center;
  }
  .header .headernav ul li a:hover {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    color: rgb(180, 175, 175);
     
  }
  /* dropdown menu css */
  .dropdown {
    position: relative;  
    text-align: left;
  }
  .header .headernav ul li ul { 
    position: absolute;
    left: 0;  
    padding: 0;
    width: max-content;
    background-color: rgba(238, 135, 97, .6);  
    border-radius: 5px;
    overflow: auto;
    display: none;
    
    z-index: 1;
  }
  
  .header .headernav ul li ul li{
    border: 1px solid whitesmoke;  
  }
  .header .headernav ul li ul li a {
    text-align: left;
    padding: 5px;
    font-size: 1em;
  }
  
  .header .headernav ul li:hover ul {
    display: block;  
    overflow: hidden;
    
  }
  .account {
    position: relative;
  }
  .account ul {
    position: absolute;
    right: 0;
  }
  .cart[title] {
    background-color: rgba(238, 135, 97, .6);
    color: whitesmoke;
  }
  @media only screen and (min-width: 280px) and (max-width: 768px) { 
    .header .headernav ul {
      display: none;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) { 
    .header .headernav ul:not(:last-child) {
      display: none;
    }
  }
  
  
  /*
  @media screen and (max-width: 800px) {
    .header .headernav ul:not(:last-child) {
      display: none;
    }
  }
  */
  
  /* header css ends */
  /*iconbar css starts*/
  .item1 .iconbar {
    position: absolute;
    top: .9em;
    left: .9em;
    font-size: 1.7em;
    color: whitesmoke;
    
  } 
  .item1 .iconbar:hover {
    cursor: pointer;
    /*color: rgb(180, 175, 175);*/
    color: brown;
    z-index: 1;
  }
  /*iconbar css ends*/
  /* brand-title css starts*/
  .item1 .brand-title {
    position: absolute;
    top: .2em;
    left: 3.5em;
    font-size: 25px;  
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
  }
  
  @media only screen and (min-width: 280px) and (max-width: 768px) { 
    .item1 .brand-title {
      position: absolute;
      top: .6em;
      right: 3.5em;    
      font-size: 25px;  
      text-decoration: none;
      color: whitesmoke;
      font-weight: bolder;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) { 
    .item1 .brand-title {
      position: absolute;
      top: .6em;
      left: 6em;
      font-size: 25px;  
      text-decoration: none;
      color: whitesmoke;
      font-weight: bolder;
    }
  }
  /* brand title css ends */
  
  /* sidenav css starts */
  .item1 .sidenav-parent {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: transparent;
    text-align: left;
    
    
  }
  .item1 .sidenav-parent .sidenav {
    width: 0;
    height: 100vh;
    display: block;
    background-color: rgba(238, 135, 97, .6);  
    color: whitesmoke;
    position: fixed;
    z-index: 1;
    overflow-x: auto;
    overflow-y: auto;
    transition: 0.4s;
    padding-top: 4em;
    position: relative;
    
  }
  .item1 .sidenav-parent .sidenav ul {
    display: block;
    width: 100%;  
    
  }
  .item1 .sidenav-parent .sidenav ul li {
    list-style: none; 
    overflow: hidden; 
    
  }
  .item1 .sidenav-parent .sidenav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.25em;
    padding: 1.25em;
    text-align: left;
    
  }
  .item1 .sidenav-parent .sidenav ul li .signoutBtn {
    padding-left: 1.25em;
  }
  .item1 .sidenav-parent .sidenav ul li a:hover {
    color: rgb(180, 175, 175);
  }
  .item1 .sidenav-parent .sidenav ul li .closeBtn {
    position: absolute;
    top: -1em;
    right: -.5em;
    font-size: 2em;
    font-weight: bolder;
  }
  .item1 .sidenav-parent .sidenav ul li .closeBtn:hover {
    color: rgb(180, 175, 175);
  }
  
  /* dropdown css for sidenav */
  .item1 .sidenav-parent .sidenav ul li ul {
    padding: 0;
    width: max-content;
    background-color: rgba(238, 135, 97, .6);
    overflow: auto;
    display: none;
    
  }
  .item1 .sidenav-parent .sidenav ul li ul li {
    border: 1px solid whitesmoke;
  }
  .item1 .sidenav-parent .sidenav ul li ul li a {
    font-size: 1.25em;
  }
  .item1 .sidenav-parent .sidenav ul li ul li a:hover {
  
    color: rgb(180, 175, 175);
  
  }
  .item1 .sidenav-parent .sidenav ul li:hover ul {
    display: block;
  }
  .signoutBtn {
    background-color: transparent;
    color: whitesmoke;
    border: none;
    outline: none;
    font-size: 1.25em;
  }
  .signoutBtn:hover {
    color: rgb(180, 175, 175);
  }
  
  
  /* sidenav css ends */
  
  /* footer css starts*/
  .footer {
    
  
    /* 
    width: 100%;
    height: auto;
    */
    background-color: rgba(238, 135, 97, .6);  
    /*margin-top: 3.8em;*/
    margin-bottom: 0;  
    padding: 1.9em;  
  }
  .footer #taptotopButton {
    width: 100%;
    height: auto;
    font-size: 1.25em;
    padding-bottom: .65em;
    background-color: transparent;
    border: none;
    outline: none;
    color: whitesmoke;
    margin-top: 5em;
    margin-bottom: 0;
  }
  .footer .row {
    display: flex; 
    width: 100%; 
    height: auto;
  }
  
  .footer .row .column {
    width: 25%;  
    color: whitesmoke;
    font-size: 1.1em;
    text-align: center;
  }
  .footer .row .column ul {
    
    text-align: left;
    font-size: 1.1em;
    padding-left: 30%;
  }
  .footer .row .column ul li {
    list-style: none;
  }
  .footer .row .column ul li a {
    text-decoration: none;
    color: whitesmoke;
    
  }
  .footer .row .column-4 a {
    padding: 5%;
    text-decoration: none;
    font-size: 1.1em;
  }
  
  @media screen and (max-width: 768px) {
    .footer .row {
      display: block;
       
    }
    .footer .row .column {    
      width: 100%; 
      
    }
    
  }
  /* footer css ends */
  
  /* main css*/
  .main .welcome {
    background-color: transparent;
    max-width: 100%;
    height: auto;
    padding-top: 3.2em;
    margin-top: 0;
    border-bottom: 1px solid whitesmoke;
    
  }
  
  .main .welcome h1 {
    text-align: center;
    padding-bottom: 1.6em;  
    color: whitesmoke;
    
    margin: 2.5em auto auto auto;
  }
  .main .welcome h2 {
    margin: auto;
    text-align: center;
    color: whitesmoke;
  }
  
  .main .welcome .row {
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    
  }
  .main .welcome .row .column {
    width: 50%;
    height: auto;
    margin: auto;
    padding: .5em;
    /*border: 1px solid white;  */
    
  }
  .main .welcome .row .column h3 {
    text-align: left;  
    color: whitesmoke;  
    
  }
  @media screen and (min-width: 280px) and (max-width: 768px){
    .main .welcome .row {
      display: block;
    }
    .main .welcome .row .column {
      width: 100%;
    }
  }
  .how-it-works {
    width: 100%;
    height: auto;
    margin: 2em 0 2em 0;
    overflow: hidden;
    border-bottom: 1px solid whitesmoke;
  }
  .how-it-works h2 {
    margin: auto;
    padding-top: 4.5em;
  }
  .how-it-works ol {
    color: whitesmoke;
    text-align: left;
    
    margin: 3em;
  }
  .how-it-works ol li {
    font-size: 1.25em;
  }
  
  .about {
    width: 100%;
    height: auto;
    background-color: transparent;
    color: whitesmoke; 
    margin: auto auto 0 auto;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
  }
  .about h2 {
    margin: auto;
    padding-top: 4.5em;
  }
  .about p {
    text-align: left;
    font-size: 1.25em; 
    padding: 3em 3em 0 3em; 
  }
  /* Servicess css starts now*/
  .services {
    width: 100%;
    height: auto;
    background-color: transparent;
    color: whitesmoke; 
    /* 
    padding: 3.2em .8em 0 .8em;
    float: center;
    */
    text-align: center;
    border: 1px solid whitesmoke;
    border-left: none;
    border-right: none;
    margin: auto;
  
  }
  .services h2 {
      
      padding-top: 4.5em;
   
  }
  .services .row {
    display: flex;
    width: 100%;
    padding: .97em;  
    text-align: center;
    
  }
  .services .row .column {
    width: 50%;
    padding: .97em;  
    text-align: center;  
    
  }
  .services .row .column ul{
    float: left;  
    padding-left: 1.9em;
    text-align: left;
    font-size: 1.25em;
  }
  .services .row .column ul li a {
    text-decoration: none;
  }
  .services .row .column-right p {
    float: left; 
    padding-left: 1.9em;
    text-align: left;
    font-size: 1.25em;
  }
  .services .row .column-right p a {
    text-decoration: none;
    font-size: 1.25em;
  }
  @media screen and (min-width: 280px) and (max-width: 480px) {
    .services .row {
      display: block;
      width: 100%;
      padding: .97em;  
      text-align: center;
      
    }
    .services .row .column {
      width: 100%;
      margin: 0 auto 0 auto;
      padding: .97em;  
      text-align: center;  
      
    }
    .services .row .column-right h3 {
      padding-top: 4em;
    }
  }
  
  /* specialoffers css* starts*/
  .specialoffers {
    margin-bottom: 5em;
  }
  
  /* specialoffers css* ends*/
  
  /* getstarted css* starts*/
  .getstarted {
    
    padding-bottom: 5em;
  }
  
  /* getstarted css* ends*/
  
  /* templates css* starts*/
  .templates {  
    padding-bottom: 5em;
  }
  
  /* templates css* ends*/
  /* career css* starts*/
  .career {
    
    padding-bottom: 5em;
  }
  
  /* career css ends here*/

  /* admin css starts*/
  .admin {
    
    padding-bottom: 5em;
  }
  
  /* admin css ends here*/

  /* each-button css starts*/
  .each-button {
    width: 25%;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    outline: none;
    padding: .8em;
    background-color: transparent; 
    color: whitesmoke;
    margin: 1em auto 1em auto;
    } 
    .each-button:hover {
      color: rgb(180, 175, 175);
    }
  /* each-button css starts*/
    @media screen and (min-width: 280px) and (max-width: 768px) {
      .each-button {
        width: 100%;
        margin: 1em auto 1em auto;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .each-button {
        width: 50%;
        margin: 1em auto 1em auto;
      }
    }
      /* each-button css end*/
  
  /* modal css starts*/
  

  /* sign in modal css starts here */
  
  .modal-parent-signin {
    margin: 0 auto 0 auto;
    padding: 0 10%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: none;
    text-align: left;
    z-index: 1;
    
  }
  
  .modal-signin {
  position: absolute;
  top: 10%;
  /*margin-left: 10%;
  margin-right: 10%;*/
  margin: auto;
  padding: 2em;
  height: auto;
  overflow: auto;
  border: 5px solid whitesmoke;
  border-radius: 10px;
  background-color: rgba(238, 135, 97, .6); 
  color: whitesmoke; 
  position: relative;
  animation: 1s drop;
  display: block;
  z-index: 1;
  }
  
  @keyframes drop {
  0% {
   top: -13em;
  }
  100% {
   top: 10%;
  }
  }
  
  .X-signin {
  position: absolute;
  top: .5em;
  right: .7em;
  font-size: 2em;
  
  }
  .X-signin:hover {
  cursor: pointer;
  color: rgb(180, 175, 175);
  
  }
  
  .modal-parent-signin .modal-signin form label {
   text-align: left;
   font-size: 1.25em;
  }
  .modal-parent-signin .modal-signin form input {
  width: 100%;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  outline: none;
  padding: .8em;
  background-color: rgba(238, 135, 97, .6); 
  color: whitesmoke;
  }
  
  .modal-parent-signin .modal-signin form button {
  width: 20%;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  outline: none;
  padding: .8em;
  background-color: rgba(238, 135, 97, .6); 
  color: whitesmoke;
  margin-right: 1.25em;
  } 
  .modal-parent-signin .modal-signin form button:hover {
    color: rgb(180, 175, 175);
  }
  .modal-anchor-tags {
    display: flex;
    justify-content: space-around;  
  }
  .modal-anchor-tags a {
    text-decoration: none;
    font-size: 1.25em;
  }
  
  
  @media screen and (min-width: 280px) and (max-width: 768px) {
    .modal-parent-signin .modal-signin form button {
      width: 100%;
      margin: auto auto 1em auto;
    }
  
    .modal-anchor-tags {
      display: block;
      justify-content: none;  
    }
    .modal-anchor-tags a {
      display: block;
      text-decoration: none;
      font-size: 1.25em;
    }
  }
  /* sign in modal css ends here */
  
  /* sign up modal css starts here */
  
  .modal-parent-signup {
    margin: 0 auto 0 auto;
    padding: 0 10%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: none;
    text-align: left;
    z-index: 1;
    
  }
  
  .modal-signup {
  position: absolute;
  top: 10%;
  /*margin-left: 10%;
  margin-right: 10%;*/
  margin: auto;
  padding: 2em;
  height: auto;
  overflow: auto;
  border: 5px solid whitesmoke;
  border-radius: 10px;
  background-color: rgba(238, 135, 97, .6); 
  color: whitesmoke; 
  position: relative;
  animation: 1s drop;
  display: block;
  z-index: 1;
  }
  
  @keyframes drop {
  0% {
   top: -13em;
  }
  100% {
   top: 10%;
  }
  }
  
  .X-signup {
  position: absolute;
  top: .5em;
  right: .7em;
  font-size: 2em;
  
  }
  .X-signup:hover {
  cursor: pointer;
  color: rgb(180, 175, 175);
  
  }
  
  .modal-parent-signup .modal-signup form label {
   text-align: left;
   font-size: 1.25em;
  }
  .modal-parent-signup .modal-signup form input {
  width: 100%;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  outline: none;
  padding: .8em;
  background-color: rgba(238, 135, 97, .6); 
  color: whitesmoke;
  }
  
  .modal-parent-signup .modal-signup form button {
  width: 25%;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  outline: none;
  padding: .8em;
  background-color: rgba(238, 135, 97, .6); 
  color: whitesmoke;
  margin-right: 1.25em;
  } 
  .modal-parent-signup .modal-signup form button:hover {
    color: rgb(180, 175, 175);
  }
  .modal-anchor-tags {
    display: flex;
    justify-content: space-around;  
  }
  .modal-anchor-tags a {
    text-decoration: none;
    font-size: 1.25em;
  }
  
  
  @media screen and (min-width: 280px) and (max-width: 768px) {
    .modal-parent-signup .modal-signup form button {
      width: 100%;
      margin: auto auto 1em auto;
    }
    
    .modal-anchor-tags {
      display: block;
      justify-content: none;  
    }
    .modal-anchor-tags a {
      display: block;
      text-decoration: none;
      font-size: 1.25em;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .modal-parent-signup .modal-signup form button {
      width: 40%;
      margin: auto 1em 1em auto;
    }
  }
  /* sign up modal css ends here */
  
  /* Admin Staff sign up modal css starts here */
  
  .modal-parent-signup-admin {
    margin: 0 auto 0 auto;
    padding: 0 10%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: none;
    text-align: left;
    z-index: 1;
    
  }
  
  .modal-signup-admin {
  position: absolute;
  top: 10%;
  /*margin-left: 10%;
  margin-right: 10%;*/
  margin: auto;
  padding: 2em;
  height: auto;
  overflow: auto;
  border: 5px solid whitesmoke;
  border-radius: 10px;
  background-color: rgba(238, 135, 97, .6); 
  color: whitesmoke; 
  position: relative;
  animation: 1s drop;
  display: block;
  z-index: 1;
  }
  
  @keyframes drop {
  0% {
   top: -13em;
  }
  100% {
   top: 10%;
  }
  }
  
  .X-signup-admin {
  position: absolute;
  top: .5em;
  right: .7em;
  font-size: 2em;
  
  }
  .X-signup-admin:hover {
  cursor: pointer;
  color: rgb(180, 175, 175);
  
  }
  
  .modal-parent-signup .modal-signup form label {
   text-align: left;
   font-size: 1.25em;
  }
  .modal-parent-signup .modal-signup form input {
  width: 100%;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  outline: none;
  padding: .8em;
  background-color: rgba(238, 135, 97, .6); 
  color: whitesmoke;
  }
  
  .modal-parent-signup-admin .modal-signup-admin form button {
  width: 25%;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  outline: none;
  padding: .8em;
  background-color: rgba(238, 135, 97, .6); 
  color: whitesmoke;
  margin-right: 1.25em;
  } 
  .modal-parent-signup-admin .modal-signup-admin form button:hover {
    color: rgb(180, 175, 175);
  }
  .modal-anchor-tags {
    display: flex;
    justify-content: space-around;  
  }
  .modal-anchor-tags a {
    text-decoration: none;
    font-size: 1.25em;
  }
  
  
  @media screen and (min-width: 280px) and (max-width: 768px) {
    .modal-parent-signup-admin .modal-signup-admin form button {
      width: 100%;
      margin: auto auto 1em auto;
    }
    
    .modal-anchor-tags {
      display: block;
      justify-content: none;  
    }
    .modal-anchor-tags a {
      display: block;
      text-decoration: none;
      font-size: 1.25em;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .modal-parent-signup-admin .modal-signup-admin form button {
      width: 40%;
      margin: auto 1em 1em auto;
    }
  }
  /* Admin Staff sign up modal css ends here */

  
  /* Contact Us modal css starts here */
  
  .modal-parent-contact {
    margin: 0 auto 0 auto;
    padding: 0 10%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: none;
    text-align: left;
    z-index: 1;  
  }
  
  .modal-contact {
  position: absolute;
  top: 10%;
  /*margin-left: 10%;
  margin-right: 10%;*/
  margin: auto;
  padding: 2em;
  height: auto;
  overflow: auto;
  border: 5px solid whitesmoke;
  border-radius: 10px;
  background-color: rgba(238, 135, 97, .6); 
  color: whitesmoke; 
  position: relative;
  animation: 1s drop;
  display: block;
  z-index: 1;
  }
  
  @keyframes drop {
  0% {
   top: -13em;
  }
  100% {
   top: 10%;
  }
  }
  
  .X-contact {
  position: absolute;
  top: .5em;
  right: .7em;
  font-size: 2em;
  
  }
  .X-contact:hover {
  cursor: pointer;
  color: rgb(180, 175, 175);
  
  
  }
  
  .modal-parent-contact .modal-contact form label {
   text-align: left;
   font-size: 1.25em;
  }
  .modal-parent-contact .modal-contact form input {
  width: 100%;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  outline: none;
  padding: .8em;
  background-color: rgba(238, 135, 97, .6); 
  color: whitesmoke;
  }
  
  .modal-parent-contact .modal-contact form textarea {
    max-width: 100%;
    border: 3px solid aliceblue;
    border-radius: 10px;
    outline: none;
    padding: 1em;
    background-color: transparent;
    color: aliceblue;
    overflow: auto;
    }
  
  .modal-parent-contact .modal-contact form button {
  width: 25%;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  outline: none;
  padding: .8em;
  background-color: rgba(238, 135, 97, .6); 
  color: whitesmoke;
  margin-right: 1.25em;
  } 
  .modal-parent-contact .modal-contact form button:hover {
    color: rgb(180, 175, 175);
  }
  .modal-anchor-tags {
    display: flex;
    justify-content: space-around;  
  }
  .modal-anchor-tags a {
    text-decoration: none;
    font-size: 1.25em;
  }
  
  
  @media screen and (min-width: 280px) and (max-width: 768px) {
    .modal-parent-contact .modal-contact form button {
      width: 100%;
      margin: auto auto 1em auto;
    }
  
    .modal-anchor-tags {
      display: block;
      justify-content: none;  
    }
    .modal-anchor-tags a {
      display: block;
      text-decoration: none;
      font-size: 1.25em;
    }
  }
  /* Contact Us modal css ends here */
  
  
  /* modal css ends*/