<%- include('header') %>

<div class="item item3 main addon">
    <div class="container welcome getstarted" ><!--welcome css working in this-->
        
        <h2>Add On</h2> 
                
    </div>     

</div>
<%- include('modal') %>
<%- include('footer') %>




