<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome career" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>Career</h2> 
        <button class="each-button">Apply For Job</button>    
    </div>     

</div>
<%- include('modal') %>
<%- include('footer') %>




