<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        
        <h2>Coming Soon Templates</h2> 
        <div  id="fooandrestaurants">          
            <h3>Coming Soon Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/comingsoon.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>       
    </div>  

</div>
<%- include('modal') %>
<%- include('footer') %>




