<!DOCTYPE html>
<html>
<title>Quick Website Wedding Invitation Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="stylesheets/style.css"/>
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2, .bgimg-modal {
  min-height: 600px;
  background-position: center;
  background-size: cover;
}

.bgimg {
  background-image: url("/images/gettyimages-1283023512-612x612.jpg");
  
}
.bgimg2 {background-image: url("/images/gettyimages-1282823050-612x612.jpg")}
.bgimg-modal {background-image: url("/images/gettyimages-1282823030-612x612.jpg");}
</style>
<body>

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min header-class" id="home">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">Jane & John</h1>
    <h2>Are getting married</h2>
    <h2><b>17.12.2020</b></h2>
    <h2><b>(It's a Full Day Function)</b></h2>
  </div>
</header>

<!-- Navbar (sticky bottom) -->
<div class="w3-bottom w3-hide-small">
  <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
    <a href="#home" style="width:25%" class="w3-bar-item w3-button" onclick="closeModalRsvp()">Home</a>
    <a href="#us" style="width:25%" class="w3-bar-item w3-button" onclick="closeModalRsvp()">Jane & John</a>
    <a href="#wedding" style="width:25%" class="w3-bar-item w3-button" onclick="closeModalRsvp()">Wedding</a>
    <a href="#" type="button" style="width:25%" class="w3-bar-item w3-button w3-hover-black" onclick="openModalRsvp()">RSVP</a>
  </div>
</div>

<!-- About / Jane And John -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min" id="us">
  <div class="w3-content">
    <h1 class="w3-center w3-text-grey"><b>Jane & John</b></h1>
    <img class="w3-round w3-grayscale-min" src="/images/gettyimages-1127706701-612x612.jpg" style="width:100%;margin:32px 0">
    <p style="font-size: 18px;"><i>You all know us. And we all know you. We are getting married, The Wedding style is North Indian Traditional Wedding Style. During this Auspicious Occassion, we need your Blessings. So, why don't you come and join us on 17.12.2020. Your Presence will double our pleasure. So Please Do Come and Enjoy the wedding with us.</i>
    </p><br>
    <p class="w3-center"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding Details</a></p>
  </div>
</div>

<!-- Background photo -->
<div class="w3-display-container bgimg2">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">You Are Invited</h1><br>
    <h2>Of course..</h2>
  </div>
</div>

<!-- Wedding information -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min w3-center" id="wedding">
  <div class="w3-content">
    <h1 class="w3-text-grey"><b>THE WEDDING Details</b></h1>    
    <div class="w3-row">
      <div class="w3-half">
        <h2>When (17.12.2020)</h2>        
        <p>Auspicious Mantra Jaap - 10:00am</p>
        <p>Reception & Lunch - 12:30pm</p>
        <p>DJ & Dance- 8:00pm</p>
      </div>
      <div class="w3-half">
        <h2>Where</h2>
        <p>Street no. ......</p>
        <p>District- ...........</p>
        <p>State- ...........</p>
        <p>USA</p>
      </div>
    </div>
  </div>
</div>

<!-- RSVP section -->
<div class="w3-container w3-padding-64 w3-pale-red w3-center w3-wide" id="rsvp">
  <h1>HOPE YOU CAN MAKE IT!</h1>
  <p class="w3-large">Your Presence is must</p>
  <p class="w3-xlarge">
    <button onclick="openModalRsvp()" class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off " style="padding:8px 60px">RSVP</button>
  </p>
</div>

<!-- RSVP modal -->
<div class="modal-parent-rsvp" >
  <div class="modal-rsvp">         
      <h1 >RSVP</h1>
      <p >John & Family</p>
      <p >Contact- 0000000000</p>
      
      <p ><i>Sincerely, John & Jane</i></p>
 
  </div>
</div>





<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Webpage Created By <b>.......</b></p>
</footer>
<div class="w3-hide-small" style="margin-bottom:32px"> </div>

</body>
<script src="javascripts/script.js"></script>
</html>
