<%- include('dashboardheader') %>

<div class="item item3 main ">
    <div class="container welcome getstarted" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <% if(msg != '') { %>
            <h2><%= msg %> </h2>
        <% } %> 
        <h2>Start Building Your Website<br/><br/>
            <p id="pathname"></p>
             <strong>Select your choice below</strong>
        </h2>    
         
            <form action="/dashboardgetstarted" method="post" role="form" enctype="multipart/form-data">
            <label>STEP 1. Template:-</label><br/>
            <select name="template" id="template">
                <option>Select Template</option>
                <optgroup label="Food & Restaurant Templates">
                    <option value="Pizza Restaurant Template &#9989;" id="pizza-restaurant-template" >Pizza Restaurant Template</option>
                    <option value="Catering Template &#9989;" id="catering-template">Catering Template</option>
                    <option value="Modal Restaurant Template &#9989;" id="modal-restaurant-template">Modal Restaurant Template</option>                    
                    <option value="Cafe Template &#9989;" id="cafe-template">Cafe Template</option>                    
                </optgroup>
                
                <script> 
                                   
                    if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#pizza-restaurant-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#pizza-restaurant-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#pizza-restaurant-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#pizza-restaurant-template') {
                        var pizzaRestaurantTemplateOption = document.getElementById('pizza-restaurant-template');
                        pizzaRestaurantTemplateOption.setAttribute('selected', 'true');                
                    } else {
                        pizzaRestaurantTemplateOption.setAttribute('selected', 'false');                
                    } 
                </script>
                <script>
                     if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#catering-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#catering-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#catering-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#catering-template') {
                        var cateringTemplateOption = document.getElementById('catering-template');
                        cateringTemplateOption.setAttribute('selected', 'true');                
                    } else {
                        cateringTemplateOption.setAttribute('selected', 'false');                
                    } 
                    
                </script>
                <script>
                    if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#modal-restaurant-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#modal-restaurant-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#modal-restaurant-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#modal-restaurant-template') {
                       var modalRestaurantTemplateOption = document.getElementById('modal-restaurant-template');
                       modalRestaurantTemplateOption.setAttribute('selected', 'true');                
                   } else {
                       modalRestaurantTemplateOption.setAttribute('selected', 'false');                
                   }                    
               </script>
               <script>
                if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#cafe-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#cafe-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#cafe-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#cafe-template') {
                   var cafeTemplateOption = document.getElementById('cafe-template');
                   cafeTemplateOption.setAttribute('selected', 'true');                
               } else {
                   cafeTemplateOption.setAttribute('selected', 'false');                
               }                    
           </script>
                <optgroup label="Portfolio Templates">
                    <option value="Portfolio Template &#9989;" id="portfolio-template">Portfolio Template</option>
                    <option value="CV Template &#9989;" id="cv-template">CV (Resume) Template</option>
                    <option value="Photo Portfolio Template &#9989;" id="photo-portfolio-template">Photo Portfolio Template</option>
                    <option value="Nature Portfolio Template &#9989;" id="nature-portfolio-template">Nature Portfolio</option>                    
                </optgroup>
                <script>
                    //portfolio templtate select javascript reference dashboardtemplates
                    if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#portfolio-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#portfolio-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#portfolio-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#portfolio-template') {
                       var portfolioTemplateOption = document.getElementById('portfolio-template');
                       portfolioTemplateOption.setAttribute('selected', 'true');                
                   } else {
                       portfolioTemplateOption.setAttribute('selected', 'false');                
                   }                    
               </script>
               <script>
                if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#cv-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#cv-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#cv-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#cv-template') {
                   var cvTemplateOption = document.getElementById('cv-template');
                   cvTemplateOption.setAttribute('selected', 'true');                
               } else {
                   cvTemplateOption.setAttribute('selected', 'false');                
               }                    
           </script>
           <script>
            //photo portfolio templtate select javascript reference dashboardtemplates
            if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#photo-portfolio-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#photo-portfolio-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#photo-portfolio-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#photo-portfolio-template') {
                       var photoPortfolioTemplateOption = document.getElementById('photo-portfolio-template');
                       photoPortfolioTemplateOption.setAttribute('selected', 'true');                
                   } else {
                       photoPortfolioTemplateOption.setAttribute('selected', 'false');                
                   }                
       </script>
       <script>
        //Nature portfolio templtate select javascript reference dashboardtemplates
        if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#nature-portfolio-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#nature-portfolio-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#nature-portfolio-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#nature-portfolio-template') {
                       var naturePortfolioTemplateOption = document.getElementById('nature-portfolio-template');
                       naturePortfolioTemplateOption.setAttribute('selected', 'true');                
                   } else {
                       naturePortfolioTemplateOption.setAttribute('selected', 'false');                
                   }           
        </script>
                <optgroup label="Small Business Website Templates">
                    <option value="Clothing Store Template &#9989;" id="clothing-store-template">Clothing Store Template</option>
                    
                </optgroup>
                <script>
                    //Clothing templtate select javascript reference dashboardtemplates
                    if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#clothing-store-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#clothing-store-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#clothing-store-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#clothing-store-template') {
                                   var clothingStoreTemplateOption = document.getElementById('clothing-store-template');
                                   clothingStoreTemplateOption.setAttribute('selected', 'true');                
                               } else {
                                   clothingStoreTemplateOption.setAttribute('selected', 'false');                
                               }           
                    </script>       
                <optgroup label="Blog Templates">
                    <option value="Blog Template &#9989;" id="blog-template">Blog Template</option>
                    <option value="Food Blog Template &#9989;" id="food-blog-template">Food Blog Template</option>
                    <option value="Fashion Blog Template &#9989;" id="fashion-blog-template">Fashion Blog Template</option>
                    <option value="Cafe Blog Template &#9989;" id="cafe-blog-template">Cafe Blog Template</option>
                    <option value="Travel Blog Template &#9989;" id="travel-blog-template">Travel Blog Template</option>
                </optgroup>
                <script>
                    //Blog templtate select javascript reference dashboardtemplates
                    if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#blog-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#blog-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#blog-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#blog-template') {
                                   var blogTemplateOption = document.getElementById('blog-template');
                                   blogTemplateOption.setAttribute('selected', 'true');                
                               } else {
                                   blogTemplateOption.setAttribute('selected', 'false');                
                               }           
                    </script>   
                    <script>
                        //Food Blog templtate select javascript reference dashboardtemplates
                        if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#food-blog-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#food-blog-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#food-blog-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#food-blog-template') {
                                       var foodBlogTemplateOption = document.getElementById('food-blog-template');
                                       foodBlogTemplateOption.setAttribute('selected', 'true');                
                                   } else {
                                       foodBlogTemplateOption.setAttribute('selected', 'false');                
                                   }           
                        </script>   
                        <script>
                            //Fashion Blog templtate select javascript reference dashboardtemplates
                            if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#fashion-blog-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#fashion-blog-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#fashion-blog-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#fashion-blog-template') {
                                           var fashionBlogTemplateOption = document.getElementById('fashion-blog-template');
                                           fashionBlogTemplateOption.setAttribute('selected', 'true');                
                                       } else {
                                           fashionBlogTemplateOption.setAttribute('selected', 'false');                
                                       }           
                            </script>
                            <script>
                                //Cafe Blog templtate select javascript reference dashboardtemplates
                                if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#cafe-blog-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#cafe-blog-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#cafe-blog-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#cafe-blog-template') {
                                               var cafeBlogTemplateOption = document.getElementById('cafe-blog-template');
                                               cafeBlogTemplateOption.setAttribute('selected', 'true');                
                                           } else {
                                               cafeBlogTemplateOption.setAttribute('selected', 'false');                
                                           }           
                                </script> 
                                <script>
                                    //Travel Blog templtate select javascript reference dashboardtemplates
                                    if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#travel-blog-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#travel-blog-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#travel-blog-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#travel-blog-template') {
                                                   var travelBlogTemplateOption = document.getElementById('travel-blog-template');
                                                   travelBlogTemplateOption.setAttribute('selected', 'true');                
                                               } else {
                                                   travelBlogTemplateOption.setAttribute('selected', 'false');                
                                               }           
                                    </script>        
                <optgroup label="Invitation Templates">
                    <option value="Wedding Invitation &#9989;" id="wedding-invitation-template">Wedding Invitation</option>                    
                </optgroup>
                <script>
                    //Wedding Invitation templtate select javascript reference dashboardtemplates
                    if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#wedding-invitation-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#wedding-invitation-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#wedding-invitation-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#wedding-invitation-template') {
                                   var weddingInvitationTemplateOption = document.getElementById('wedding-invitation-template');
                                   weddingInvitationTemplateOption.setAttribute('selected', 'true');                
                               } else {
                                weddingInvitationTemplateOption.setAttribute('selected', 'false');                
                               }           
                    </script>  
                    <!--     
                <optgroup label="Simple Webpage Templates">
                    <option value="Web Page Template &#9989;">Web Page Template</option>                    
                </optgroup>
            -->
                <optgroup label="Coming Soon Templates">
                    <option value="Coming Soon Template &#9989;" id="coming-soon-template">Coming Soon Template</option>                    
                </optgroup>
                <script>
                    //Coming Soon templtate select javascript reference dashboardtemplates
                        if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#coming-soon-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#coming-soon-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#coming-soon-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#coming-soon-template') {
                                       var comingSoonTemplateOption = document.getElementById('coming-soon-template');
                                       comingSoonTemplateOption.setAttribute('selected', 'true');                
                                   } else {
                                       comingSoonTemplateOption.setAttribute('selected', 'false');                
                                   }           
                        </script>  
                <optgroup label="Other Templates">
                    <option value="Band Template &#9989;" id="band-template">Band Template</option>
                    <option value="Photo Album Template &#9989;" id="photo-album-template">Photo Album Template</option>                    
                </optgroup> 
                <script>
                    //Band templtate select javascript reference dashboardtemplates
                    if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#band-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#band-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#band-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#band-template') {
                                   var bandTemplateOption = document.getElementById('band-template');
                                   bandTemplateOption.setAttribute('selected', 'true');                
                               } else {
                                   bandTemplateOption.setAttribute('selected', 'false');                
                               }           
                    </script> 
                    <script>
                        //photo albumtempltate select javascript reference dashboardtemplates
                        if(window.location.href == 'http://localhost:5000/dashboardgetstarted/#photo-album-template' || window.location.href == 'https://localhost:5000/dashboardgetstarted/#photo-album-template' || window.location.href == 'https://www.quickwebsite.net/dashboardgetstarted/#photo-album-template' || window.location.href == 'http://www.quickwebsite.net/dashboardgetstarted/#photo-album-template') {
                                       var photoAlbumTemplateOption = document.getElementById('photo-album-template');
                                       photoAlbumTemplateOption.setAttribute('selected', 'true');                
                                   } else {
                                    photoAlbumTemplateOption.setAttribute('selected', 'false');                
                                   }           
                        </script>                 
            </select><br/>
            <input type="hidden" name="templateoptionestimatedtime" value="1 Day"/><input type="hidden" name="templateoptionprice" value="$ 50.00"/>
            
            <label>STEP 2. Basic Features:- </label><br/>
            <label>Please Click the box and Select Basic Features: </label><br/>
            <input id="hompage-checkbox" type="checkbox" name="home" value="Home Page &#9989;"  onclick="showHideHomePageContentForm()"/><input type="hidden" name="homepageestimatedtime" value="1 Day"/><input type="hidden" name="homepageprice" value="$ 30.00"/><label>I want "Home Page" in my website</label><br/>
            <label id="home-page-content-label">Please Provide "Home Page Content" (If Available)</label><br/>
            <textarea id="home-page-content-textarea" name="homepagecontent" placeholder="Enter Home Page Content here...">
            
            </textarea><br/>         
            
            <input id="about-checkbox" type="checkbox" name="about" value="About &#9989;" onclick="showHideAboutContentForm()"/><input type="hidden" name="aboutestimatedtime" value="1 Day"/><input type="hidden" name="aboutprice" value="$ 30.00"/><label>I want "About" Feature in my website</label><br/>
            <label id="about-content-label">Please Provide "About Content" (if Available)</label><br/>
            <textarea id="about-content-textarea" name="aboutcontent">

            </textarea><br/>
            <input id="services-checkbox" type="checkbox" name="services" value="Services &#9989;" onclick="showHideServicesContentForm()"/><input type="hidden" name="servicesestimatedtime" value="1 Day"/><input type="hidden" name="servicesprice" value="$ 30.00 "/><label>I want "Services" Feature</label><br/>
            <label id="services-content-label">Please Provide "Services Content" (If Available)</label><br/>
            <textarea id="services-content-textarea" name="servicescontent">

            </textarea><br/>
            <input id="why-us-checkbox" type="checkbox" name="whyus" value="Why Us &#9989;" onclick="showHideWhyUsContentForm()"/><input type="hidden" name="whyusestimatedtime" value="1 Day"/><input type="hidden" name="whyusprice" value="$ 30.00 "/><label>I want "Why Us" Feature</label><br/>
            <label id="why-us-content-label">Please Provide "Content for Why Us Feature" (If Available)</label><br/>
            <textarea id="why-us-content-textarea" name="whyuscontent">

            </textarea><br/>

            <input type="checkbox" name="contactusonlyaddress" value="Contact Us (Only Address) &#9989;" /><input type="hidden" name="contactusestimatedtime" value="1 Day"/><input type="hidden" name="contactusprice" value="$ 30.00 "/><label>I want "Contact Us (Only Address)"</label><br/>
            <label>Please provide the "Address" to be mentioned in your website (Required)</label><br/>
            <input type="address" name="address"/><br/>

            <label>Please provide the "Phone Number" to be shown in your website (Required)</label><br/>
            <input type="tel" name="phonenumber" maxlength="15" /><br/>

            <label for="emailid">Email Id (Required)</label><br/>
            <input type="email" name="emailid" id="emailid"><br/>

            <input id="social-media-checkbox" type="checkbox" name="socialmedia" value="Social Media &#9989;" onclick="showHideSocialMediaContentForm()"/><input type="hidden" name= "socialmediaestimatedtime" value="1 Day"/><input type="hidden" name="socialmediaprice" value="$ 40.00"/><label>I want "Social Media" Feature</label><br/>
            <label id="social-media-content-label">Please Provide url of your social media accounts link. (eg. https://www.facebook.com/quickwebsite)</label><br/>
            <textarea id="social-media-content-textarea" name="socialmedialink" >
        
            </textarea><br/>
            <input id="policy-checkbox" type="checkbox" name="policy" value="Policy &#9989;" onclick="showHidePolicyContentForm()"/><input type="hidden" name="policyestimatedtime" value="2 Day"/><input type="hidden" name="policyprice" value="$ 40.00"/><label>I want to include my "Policy"</label><br/>
            <label id="policy-content-label">Please Provide Your Business Policy to mention in your website</label><br/>
            <textarea id="policy-content-textarea" name="policycontent">

            </textarea><br/>  

            <input id="terms-and-conditions-checkbox" type="checkbox" name="termsandconditions" value="Terms & Conditions &#9989;" onclick="showHideTermsAndConditionsContentForm()"/><input type="hidden" name="termsandconditionsestimatedtime" value="2 Day"/><input type="hidden" name="termsandconditionsprice" value="$ 40.00"/><label>I want to Include "Terms & Conditions"</label><br/>
            <label id="terms-and-conditions-content-label">Please Provide Your Business Terms & Conditions to mention in your website</label><br/>
            <textarea id="terms-and-conditions-content-textarea" name="termsandconditionscontent">

            </textarea><br/>
            <input id="copy-right-checkbox" type="checkbox" name="copyright" value="Copy Right &#9989;" onclick="showHideCopyRightContentForm()"/><input type="hidden" name="copyrightestimatedtime" value="1 Day"/><input type="hidden" name="copyrightprice" value="$ 30.00"/><label>I want to include "Copy right" information</label><br/>
            <label id="copy-right-content-label">Please provide Copy Right Information (if any)</label><br/>
            <textarea id="copy-right-content-textarea" name="copyrightcontent" >

            </textarea><br/><br/>

            <input type="radio" name="logo" value="I want to buy Logo &#9989;" onclick="hideLogoFileUploadInput()"/><input type="hidden" name="logopurchasingestimatedtime" value="1 Day"/><input type="hidden" name="logopurchasingprice" value="$ 60.00"/><label>I want to buy "Logo"</label><br/>
            <input type="radio" name="logo" value="I have my own Logo &#9989;" onclick="showLogoFileUploadInput()"/><input type="hidden" name="logobycustomerestimatedtime" value="1 Day"/><input type="hidden" name="logobycustomerprice" value="$ 30.00"/><label>I have my own Logo</label><br/>
            <label class="logo-file-upload-label">Please Upload your Logo here (if you have one)</label><br/>
            <input type="file" name="uploadcontentforlogo" style="display: none;" class="logo-file-upload-input"/><br/>


            <label>STEP 2. External Features:- </label><br/>
                           
            <input id="photo-gallery-checkbox" type="checkbox" name="gallery" value="Gallery &#9989; (Note: Database Required, So Included Database Charges )" onclick="showHidePhotoGalleryContentForm()"/><input type="hidden" name="galleryestimatedtime" value="3 Day"/><input type="hidden" name="galleryprice" value="$ 150.00"/><label>I want to include "Photo Gallery"</label><br/>
            <label id="photo-gallery-content-label">"Any Text Content" For "Photo Gallery"</label><br/>
            <textarea id="photo-gallery-content-textarea" name="textcontentforgallery">

            </textarea><br/>
            
           <label id="photo-gallery-upload-content-label">Upload content to show in Photo Gallery (Max. 20 images)</label><br/>
            <input id="photo-gallery-upload-content-input" type="file" name="uploadcontentforgallery" multiple/><br/>

            <input id="templates-feature-checkbox" type="checkbox" name="templatesfeature" value="Templates Feature &#9989; (Note: Database Required, So Included Database Charges )" onclick="showHideTemplatesFeatureContentForm()"/><input type="hidden" name="templatesfeatureestimatedtime" value="3 Day"/><input type="hidden" name="templatesfeatureprice" value="$ 150.00"/><label>I want to show my work "Templates"</label><br/>
            <label id="templates-feature-content-label">"Text Content" for "Templates"</label><br/>
            <textarea id="templates-feature-content-textarea" name="textcontentfortemplates">

            </textarea><br/>
            <label id="templates-feature-upload-content-label">"Upload Content" to show in "Templates (Max. 20 images)" </label><br/>
            <input id="templates-feature-upload-content-input" type="file" name="uploadcontentfortemplates" multiple/><br/>  

            
            <input id="menu-checkbox" type="checkbox" name="menu" value="Menu &#9989; (Note: Database Required, So Included Database Charges )" onclick="showHideMenuContentForm()"/><input type="hidden" name="menuestimatedtime" value="2 Day"/><input type="hidden" name="menuprice" value="$ 100.00"/><label>I want to show my "Menu" to my website</label><br/>
            <label id="menu-content-label">Menu Content</label><br/>
            <textarea id="menu-content-textarea" name="textcontentformenu">

            </textarea><br/>
            <label id="menu-or-label">OR</label>
            <label id="menu-upload-content-label">"Upload Menu Image" to show in Menu Section of your Food Services website (Max. 6 images/pdf)</label><br/>
            <input id="menu-upload-content-input" type="file" name="uploadcontentformenu" multiple/><br/>
        <br/>


        <label>STEP 3. Advanced Features:- </label><br/>
            
            <input type="checkbox" name="registerlogin" value="Register and Log in &#9989; (Note: Database Required, So Included Database Charges )"/><input type="hidden" name="registerloginestimatedtime" value="3 Day"/><input type="hidden" name="registerloginprice" value="$ 150.00"/><label>I want Register and Log in Feature</label><br/>
            
            <input type="checkbox" name="contactuswithform" value="Contact Us With Address Plus Contact Form &#9989; (Note: Database Required, So Included Database Charges )"/><input type="hidden" name="contactuswithformestimatedtime" value="1 Day"/><input type="hidden" name="contactuswithformprice" value="$ 80.00"/><label>I want to add "Contact Form" in my Contact Us Feature</label><br/>

            <input id="payment-method-checkbox" type="checkbox" name="paymentmethod" value="Payment Method &#9989; (Note: Database Required, So Included Database Charges )" onclick="showHidePaymentMethodContentForm()"/><input type="hidden" name="paymentmethodestimatedtime" value="1 Day"/><input type="hidden" name="paymentmethodprice" value="$ 185.00"/><label>I want to accept payments through my website using "Payment Method"</label><br/><br/>
            <label id="payment-method-content-label">Please Provide your Individual/Business Bank Account Number with IFSC and GST/PAN Number (Required for accepting payments)</label>
            <textarea id="payment-method-content-textarea" name="bankaccountandifsc">

            </textarea><br/>
                        
            <label>STEP 4. Designing:- </label><br/>
            <input type="radio" name="websitebackground" value="I want Background-Color in my Website &#9989;" onclick="showBackgroundColorInput()" /><input type="hidden" name="websitebackgroundestimatedtime" value="1 Day"/><input type="hidden" name="websitebackgroundcolorprice" value="$ 0.00"/><label>I want Background-color in my Website</label><br/>
            <label class="background-color-select-input" >Choose Website's Background color:- </label><input type="color" name="backgroundcolor" class="background-color-select-input" /><br/>
            
            <input type="radio" name="websitebackground" value="I want Background-Image in my Website &#9989;" onclick="showBackgroundImageInput()"/><input type="hidden" name="websitebackgroundimageprice" value="$ 30.00"/><label>I want Background-Image in my Website</label></span><br/>     
            <label class="background-image-select-label">Upload Website's Background Image (max. 1 image)</label><input type="file" name="backgroundimage" style="display: none;" class="background-image-select-input"/>
            <br/>

            <label>Choose Website's Text Color:- </label><br/>
            <input type="color" name="textcolor"/>

            <br/>
            <label>STEP 5.</label><br/>
            <label>Other Features or Services:</label><br/>
        
            <input type="checkbox" name="emailservice" value="Email Services &#9989;"/><input type="hidden" name="emailserviceestimatedtime" value="3 Day"/><input type="hidden" name="emailserviceprice" value="$ 140.00"/><label>I want to send Email from my website</label><br/>
            <input type="checkbox" name="messageservice" value="Message Services &#9989;"/><input type="hidden" name="messageserviceestimatedtime" value="3 Day"/><input type="hidden" name="messageserviceprice" value="$ 150.00"/><label>I want to send Text Messages from my website</label><br/>
            <input type="checkbox" name="database" value="Data Base &#9989;"/><input type="hidden" name="databaseestimatedtime" value="3 Day"/><input type="hidden" name="databaseprice" value="$ 150.00"/><label>Data Base</label><br/>
<br/>
            <label>STEP 6. Uploads (Images or pdf only)</label><br/>            
            <label>Upload Images and Files (Max. 10 images/pdf) </label><br/>
            <input type="file" name="uploadedfilesnames" multiple style="width: 90%;"/><br/>
                    
                
            <label id="step7" style="padding-top: 6em;">STEP 7.</label><br/>
            <label>Additional Or Freelance Payments</label><br/>
            
            <label>Describe your website briefly to get the idea of website you would like</label><br/>
            <textarea name="websitebriefdescription">
        
            </textarea><br/>
            <label>Include</label><br/>
            <textarea name="include">
        
            </textarea><br/>
            <label>Do Not Include</label><br/>
            <textarea name="donotinclude">
        
            </textarea><br/>
            <br/>
            <label>Referral Code (if Any)</label><br/>
            <input type="text" name="referralcode" placeholder="Enter Refferal Code..."/>
            <br/><br/>
            <label>Other Charges (For Additional Services or if provided):</label><br/>
            $: <input type="number" name="othercharges" min="0" placeholder="0.00"/><br/>


            <label id="step8" style="padding-top: 3em;">STEP 8.</label><br/>
            <label >Do you want the followings?</label><br/>
            <input id="maintain-checkbox" type="checkbox" name="maintainmywebsite" value="Yes Please"  /><input type="hidden" name="maintainancecharges" value="$ 30.00"/><label>Please maintain my website on regular basis</label><br/>
            
            
            <br/><br/><br/>           
            

            <input style="padding: .2em;" type="submit" class="shop-item-button"  value="Add To Cart"/>
        </form>        
           
    
    </div>     

</div>
<%- include('modal') %>
<%- include('dashboardfooter') %>




