
    <div class="item item5 footer">

        <button id="taptotopButton" onclick="goToTop()">Tap Here to go to Top</button>
        <div class="row">          
            <div class="column column-1">
              <h2>Website</h2>
              
              <ul>
                <li><a href="/dashboardadmin/#aboutcontent">About</a></li>
                <li><a href="/dashboardadmin/#servicescontent">Services</a></li>
                <li><a href="/dashboardemployeesadmin">Why Us</a></li>
                <li><a href="/dashboardtemplatesadmin">Templates</a></li>
                <li><a href="/dashboardfreelancepage">Find Freelancer</a></li>

               
              </ul>
            </div>
            <div class="column column-2">
              <h2>Others</h2>
             
              <ul>
                <!--
                <li><a href="/dashboardprivacypolicyadmin">Privacy Policy</a></li>
                <li><a href="/dashboardpaymentpolicyadmin">Payment Policy</a></li>                
                <li><a href="/dashboardcopyrightadmin">&#169; 2021 Quick Website</a></li>
                -->
                <li><a href="/dashboardtermsandconditionsadmin">Terms & Conditions</a></li>              
                <li><a href="/dashboardcareeradmin">Career</a></li>
                <li><a href="/dashboardemployeesadmin">Employees</a></li>
                <li><a href="/dashboardfaqadmin">FAQ</a></li>
                <li><a href="/dashboardhelpadmin">Help</a></li>

              </ul>
            </div>  
          
          
            <div class="column column-3">
              <h2>Contact</h2>
              <ul>
                 <!--
                <li>Toll Free: <a href="tel: +91">0091 ....demono.</a></li>
                -->
                <li><a href="#" onclick="openContactModal()" >Write a Message</a></li>
                <li><a href="mailto: contact@quickwebsite.net">contact@quickwebsite.net</a></li>
                <li><a href="mailto: admin@quickwebsite.net">admin@quickwebsite.net</a></li>
              </ul>
            </div>
            <!--
            <div class="column column-4">
              <h2>Social Media</h2> 
              <br/>
              <a href="#" class="fa fa-facebook"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="fa fa-twitter"><i class="fab fa-twitter"></i></a>
              <a href="#" class="fa fa-instagram"><i class="fab fa-instagram"></i></a>
            </div>
             -->      
          
        </div><!---->

    </div>
</div>
<script src="/javascripts/script.js"></script>
</body>
</html>
