<%- include('dashboardheader') %>

<div class="item item3 main cart">
    <div class="container dashboardcart" >
        <br/><br/>
        <h1>Welcome to Cart</h1>        
        <% if(cartItem != '') { %>

            <%= cartItem %> 
        <% } %> 
         
                       
    </div>
</div>
<%- include('modal') %>

<%- include('dashboardfooter') %>




