<%- include('dashboardheader') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        
        <h2>Wedding Invitation Templates</h2> 
        
        <div  id="fooandrestaurants">          
            <h3>Wedding Invitation Template</h3>            
            <a href="/dashboardweddinginvitationtemplatedemo" target="_blank"><img class="class-img" src="images/weddinginvitation.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/dashboardweddinginvitationtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="window.open('/dashboardgetstarted/#wedding-invitation-template', '_blank')">Use Template</button> 
        </div>

        <hr/>
    </div>  

</div>
<%- include('modal') %>
<%- include('dashboardfooter') %>




