<%- include('dashboardheader') %>

<div class="item item3 main ">
    <div class="container welcome getstarted" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <% if(msg != '') { %>
            <h2><%= msg %> </h2>
        <% } %> 
        <h2>Start Building Your Website</h2>    
            
            <form action="/dashboardgetstarted" method="post" role="form">
            <label>STEP 1.</label><br/>
            <select name="template" id="template">
                <option >Select Template</option>
                <optgroup label="Food & Restaurant Templates">
                    <option value="PizzaRestaurantTemplate">Pizza Restaurant Template (Rs....)</option>
                    <option value="CateringTemplate">Catering Template (Rs. )</option>
                    <option value="ModalRestaurantTemplate">Modal Restaurant Template (Rs. )</option>                    
                    <option value="CafeTemplate">Cafe Template (Rs.)</option>                    
                </optgroup>
                <optgroup label="Portfolio Templates">
                    <option value="PortfolioTemplate">Portfolio Template (Rs. )</option>
                    <option value="CVTemplate">CV (Resume) Template (Rs.)</option>
                    <option value="PhotoPortfolioTemplate">Photo Portfolio Template (Rs. )</option>
                    <option value="NaturePortfolioTemplate">Nature Portfolio</option>                    
                </optgroup>
                <optgroup label="Small Business Website Templates">
                    <option value="ClothinStoreTemplate">Clothing Store Template</option>
                    
                </optgroup>
                <optgroup label="Blog Templates">
                    <option value="BlogTemplate">Blog Template</option>
                    <option value="FoodBlogTemplate">Food Blog Template</option>
                    <option value="FashionBlogTemplate">Fashion Blog Template</option>
                    <option value="CafeBlogTemplate">Cafe Blog Template</option>
                    <option value="TravelBlogTemplate">Travel Blog Template</option>
                </optgroup>
                <optgroup label="Invitation Templates">
                    <option value="WeddingInvitation">Wedding Invitation</option>                    
                </optgroup>
                <optgroup label="Simple Webpage Templates">
                    <option value="WebPageTemplate">Web Page Template</option>                    
                </optgroup>
                <optgroup label="Coming Soon Templates">
                    <option value="ComingSoonTemplate">Coming Soon Template</option>                    
                </optgroup>
                <optgroup label="Other Templates">
                    <option value="BandTemplate">Band Template</option>
                    <option value="PhotoAlbumTemplate">Photo Album Template</option>                    
                </optgroup>                
            </select><br/>

            <label>OR</label><br/>
            
            <label>Describe your own Template (image file or word file or pdf)</label>
            <input type="file" name="customertemplate" /><br/>

            <label>STEP 2.</label><br/>
            <label>Select Basic Features: (No Additional Charges)</label><br/>
            <input type="checkbox" name="home"/><label>Home</label><br/>
            <label>Upload content for Home Page (word or pdf)</label><br/>
            <input type="file" name="homecontent"/><br/>

            <input type="checkbox" name="about"/><label>About</label><br/>
            <label>Upload content to show in About Section (word or pdf)</label><br/>
            <input type="file" name="aboutcontent"/><br/>

            <input type="checkbox" name="services"/><label>Services</label><br/>
            <label>Upload content to show in Services (word or pdf)</label><br/>
            <input type="file" name="servicescontent"/><br/>

            <input type="checkbox" name="whyus"/><label>Why Us</label><br/>
            <label>Upload content for in Why Us Section  (word or pdf)</label><br/>
            <input type="file" name="whyuscontent"/><br/>

            <input type="checkbox" name="contactusonlyaddress"/><label>Contact Us (Only Address)</label><br/>
            <label>Please provide the Address to be mentioned in your website</label><br/>
            <input type="address" name="address"/><br/>

            <label>Please provide the Phone Number to be shown in your website</label><br/>
            <input type="tel" name="phonenumber" maxlength="15" /><br/>

            <input type="checkbox" name="socialmedia"/><label>Social Media</label><br/>
            <label>Please Provide url of your social media accounts link. (eg. https://www.facebook.com/quickwebsite)</label><br/>
            <textarea name="socialmediaaccountlink">
        
            </textarea><br/>
            <input type="checkbox" name="policy"/><label>Policy</label><br/>
            <label>Upload Your Business Policy to mention in your website</label><br/>
            <input type="file" name="policycontent"/><br/>  

            <input type="checkbox" name="termsandconditions"/><label>Terms & Conditions</label><br/>
            <label>Upload Your Business Terms & Conditions to mention in your website</label><br/>
            <input type="file" name="termsandconditionscontent"/><br/>

            <input type="checkbox" name="copyright"/><label>Copy right</label><br/>
            <label>Please provide Copy Right Information (if any)</label><br/>
            <textarea name="copyrightcontent">

            </textarea><br/><br/>

            <label>STEP 3.</label><br/>
            <label>Designing Part:</label><br/>
        
            <label>Select Website Background color or image</label><br/>
            <input type="color" name="backgroundcolor"/><label>Choose Background Color here OR Upload Image below</label><br/>
            
            <input type="file" name="background-image"/>
            <br/>
            <label>Select Website text color </label><br/>
            <input type="color" name="color"/><label>Choose Text Color here OR Upload Image below</label><br/>
            
            <label>STEP 4.</label><br/>
            <label>Select More Features: </label><br/>
        
            <input type="checkbox" name="logo"/><label>Logo</label><br/>
            <label>Upload your Logo here if you have one</label><br/>
            <input type="file" name="logocontent"/><br/>

            <label>OR</label><br/>

            <input type="checkbox" name="logopurchased"/><label>Buy Logo (Rs. )</label><br/>
            
            <input type="checkbox" name="gallery"/><label>Gallery</label><br/>
            <label>Upload content to show in Gallery</label><br/>
            <input type="file" name="gallerycontent"/><br/>

            <input type="checkbox" name="templatefeature"/><label>Templates Feature</label><br/>
            <label>Upload text content to show in Templates </label><br/>
            <input type="file" name="templatefeaturecontent"/><br/>  

            <label>Upload Photos to show in Templates if you have</label><br/>
            <input type="file" name="templatefeaturecontentfiles"/><br/>

            <input type="checkbox" name="menu"/><label>Menu </label><br/>
            <label>Upload content to Write in Menu Section of your Food Services website (word or pdf)</label><br/>
            <input type="file" name="menucontent"/><br/>
        <br/>
        
            <label>STEP 5.</label><br/>
            <label>Select Advanced Features:</label><br/>
        
            <input type="checkbox" name="registerlogin"/><label>Register (Sign up) and Log in (Sign in)</label><br/>
            <label>Please write your Personal Email Or Business Email Id (Required for OTP )</label><br/>
            <input type="email" name="businessemail"/><br/>

            <input type="checkbox" name="contactuswithform"/><label>Contact Us (Address Plus Contact Us Form)</label><br/>

            <input type="checkbox" name="paymentmethod"/><label>Payment Method (Rs.)</label><br/><br/>
            <label>Payment Method Content (We will contact you regarding this)</label>
            <input type="file" name="paymentmethodcontent"/><br/><br/>
        
            <label>STEP 6.</label><br/>
            <label>Other Features or Services:</label><br/>
        
            <input type="checkbox" name="emailservice"/><label>Email Service (Rs.)</label><br/>
            <input type="checkbox" name="messageservice"/><label>Message Service (Rs.)</label><br/>
            <input type="checkbox" name="database"/><label>Data Base (Rs.)</label><br/>
            
            <label>STEP 7.</label><br/>
            <label>Additional</label><br/>
            
            <label>Describe your website briefly to get the idea of website you would like</label><br/>
            <textarea name="websitedescription">
        
            </textarea><br/>
            <label>Include</label><br/>
            <textarea name="include">
        
            </textarea><br/>
            <label>Do Not Include</label><br/>
            <textarea name="donotinclude">
        
            </textarea><br/><br/>
                        
            <input type="submit" value="Add To Cart"/>
        </form>        
           
    
    </div>     

</div>
<%- include('modal') %>
<%- include('dashboardfooter') %>




