<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="small business wesite services">
    <meta name="keywords" content="HTML, CSS, JavaScript, small business website, Small business website, web designing, web development, freelance services, cheapest website, front end website, business website, quick website, web design">
    <meta name="author" content="web services">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title><%= title %></title>
    <!--Link for global css means the css used for payment checkout and button etc--> 
    <link rel="stylesheet" href="/stylesheets/global.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--Font Awesome for icons-->
    <script src='https://kit.fontawesome.com/a076d05399.js' async></script>

    <script src="./javascripts/store.js" async></script>
    <!--javascript for payment gateway-->
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>    
    <script src="./javascripts/client.js" defer></script>
    
  </head>
  <body oncontextmenu="return false">
    <div class="grid-container">
      <div class="item item1 header">
        <span onclick="openNav()" class="iconbar" title="Menu">&#9776;</span><a href="/" class="brand-title"><img src="/images/Quick Website-logos_transparent.png" width="200px" height="70px"></a>
        
        <div class="headernav">
          <ul>
            <li>
              <a href="/dashboardcustomer/#homecontent" id="home-icon" title="Home"><i class="glyphicon glyphicon-home"></i></a>
            </li>
            <li>
              <a href="/dashboardcustomer/#aboutcontent">About</a>
            </li>
            <li>
              <a href="/dashboardcustomer/#servicescontent">Services</a>
            </li>
            <li>
              <a href="/dashboardcustomer/#whyuscontent">Why Us</a>
            </li>  
            <li class="dropdown">
              <a href="/dashboardtemplates">Templates</a>
              <ul>
                <li><a href="/dashboardfoodandrestaurants">Food & Restaurants</a></li>
                <li><a href="/dashboardportfoliotemplates">Portfolio Templates</a></li>
                <li><a href="/dashboardsmallbusinesswebsite">Small Business Website</a></li>                
                <li><a href="/dashboardblogtemplates">Blog Template</a></li>                
                <li><a href="/dashboardweddinginvitationtemplates">Wedding Invitation Template</a></li>
                <li><a href="/dashboardwebpagetemplates">Web Page</a></li>
                <li><a href="/dashboardcomingsoontemplates">Coming Soon Template</a></li>                
                <li><a href="/dashboardothertemplates">Other Template</a></li>
            </ul>
            </li> 
            <li>
              <a href="#" onclick="openContactModal()">Contact</a>
            </li>     
            
          </ul>
          <ul>
            <li class="cart">
              <a href="/dashboardcart" title="Cart"><i class="fa fa-shopping-cart"></i><span class="notification cart-items-number"></span></a>
            </li>
            <li class="account">
              <a href="#" style="color: whitesmoke;" class="loggedinas">
                <em style="color: rgb(71, 157, 255);">
                  <% if(loginUser){ %>  
                    <%= loginUser %> 
                  <% } %>
                  </em> 
              </a>
              <ul>                   
                <li><a href="/dashboardcustomerprofile" >View Profile</a></li>
                <li><a href="/dashboardsettings">Settings</a></li>
                <li><a href="/editaccountcustomer">Edit Account</a></li>
                <li><a href="#" onclick="openConfirmBeforeDeleteModal()">Delete Account</a></li>
                <li>
                    <form action="/signout" method="post" role="form">
                      <button class="signoutBtn" type="submit"><i style="color: rgb(71, 157, 255);">Sign out</i></button>
                    </form>              
                </li>
              </ul>              
            </li>
          </ul>
        </div>
       

      <div class="sidenav-parent">
        <div class="sidenav">
          <ul>
            <li>
              <a href="javascript:void(0)" class="closeBtn" title="Close">&times;</a>
            </li>
            
            <li>
              <a href="/dashboardcustomer" class="loggedinas">
                                   
                  <em style="color: rgb(71, 157, 255);">
                    <% if(loginUser){ %>  
                    <%= loginUser %> 
                    <% } %>
                  </em>   
              </a>
            </li>
            <li>
              <a href="/dashboardcustomer/#homecontent" onclick="closeSideNav()" title="Home"><i class="glyphicon glyphicon-home"></i></a>
            </li>  
            <li class="cart-sidenav">
              <a href="/dashboardcart" title="Cart"><i class="fa fa-shopping-cart"></i><span class="notification-sidenav cart-items-number"></span></a>
            </li>
            <li>
              <a href="/dashboardgetstarted">Get Started</a>
            </li>
            <li>  
              <a href="/dashboardinbox">Inbox</a>              
            </li>                       
            <li>  
              <a href="/dashboardoutbox">Outbox</a>              
            </li>
            <li>
              <a href="/dashboardcustomer/#howitworkscontent" onclick="closeSideNav()">How It Works</a>
            </li>           
            <li>
              <a href="/dashboardcustomer/#aboutcontent" onclick="closeSideNav()">About</a>
            </li>
            <li>
              <a href="/dashboardcustomer/#servicescontent" onclick="closeSideNav()">Services</a>
            </li>  
            <li>
              <a href="/dashboardcustomer/#whyuscontent" onclick="closeSideNav()">Why Us</a>
            </li>
            <li>
              <a href="/dashboardtemplates" >Templates</a>
              <!--
              <ul>
                <li><a href="/foodandrestaurants">Food & Restaurants</a></li>
                <li><a href="/portfolio">Portfolio Templates</a></li>
                <li><a href="/smallbusiness">Small Business Website</a></li>                
                <li><a href="/blog">Blog Template</a></li>
                <li><a href="/vlog">Vlog Template</a></li>
                <li><a href="/marketing">Marketing Templates</a></li>
                <li><a href="/weddinginvitation">Wedding Invitation Template</a></li>
                <li><a href="/webpage">Web Page</a></li>
                <li><a href="/comingsoon">Coming Soon Template</a></li>
                <li><a href="/phototemplates">Photo Templates</a></li>
                <li><a href="/startpagetemplates">Start Page Templates</a></li>                                                    
                <li><a href="/othertemplates">Other Template</a></li>
            </ul>
            -->
            </li>            
            <li>
              <a href="/dashboardcareer">Career</a>

            </li>
            <li>  
              <a href="/dashboardrecyclebin">Recyclebin</a>              
            </li> 
            <li>  
              <a href="/dashboardsettings">Settings</a>              
            </li>
            <li>
              <a href="/dashboardfaq">FAQ</a>
            </li>
            <li>
              <a href="/dashboardhelp">Help</a>
            </li> 
            <li>
              <a href="#" onclick="openContactModal()">Contact</a>
            </li>  
            <li>
              <form action="/signout" method="post" role="form">
                <button class="signoutBtn" type="submit" style="color: rgb(71, 157, 255);"><em>Sign out</em></button>
              </form>
            </li>       
       
          </ul> 
                 
        </div>

      </div>
      

      </div>
      
