<%- include('dashboardheader') %>

<div class="item item3 main ">
    <div class="container welcome getstarted" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <% if(msg != '') { %>
            <h2><%= msg %> </h2>
        <% } %> 
        <h2>Start Building Your Website</h2>    
            
            <form action="/dashboardgetstarted" method="post" role="form">
            <label>STEP 1.</label><br/>
            <select name="template" id="template">
                <option >Select Template</option>
                <optgroup label="Food & Restaurant Templates">
                    <option value="Pizza Restaurant Template Rs. 4000.00 ">Pizza Restaurant Template</option>
                    <option value="Catering Template Rs. 4000.00 ">Catering Template</option>
                    <option value="Modal Restaurant Template Rs. 4000.00 ">Modal Restaurant Template</option>                    
                    <option value="Cafe Template Rs. 4000.00">Cafe Template</option>                    
                </optgroup>
                <optgroup label="Portfolio Templates">
                    <option value="Portfolio Template Rs. 4000.00">Portfolio Template</option>
                    <option value="CV Template Rs. 4000.00">CV (Resume) Template</option>
                    <option value="Photo Portfolio Template Rs. 4000.00">Photo Portfolio Template</option>
                    <option value="Nature Portfolio Template Rs. 4000.00">Nature Portfolio</option>                    
                </optgroup>
                <optgroup label="Small Business Website Templates Rs. 4000.00">
                    <option value="Clothing Store Template 4000.00">Clothing Store Template</option>
                    
                </optgroup>
                <optgroup label="Blog Templates">
                    <option value="Blog Template Rs. 4000.00">Blog Template</option>
                    <option value="Food Blog Template Rs. 4000.00">Food Blog Template</option>
                    <option value="Fashion Blog Template Rs. 4000.00">Fashion Blog Template</option>
                    <option value="Cafe Blog Template Rs. 4000.00">Cafe Blog Template</option>
                    <option value="Travel Blog Template Rs. 4000.00">Travel Blog Template</option>
                </optgroup>
                <optgroup label="Invitation Templates">
                    <option value="Wedding Invitation Rs. 4000.00">Wedding Invitation</option>                    
                </optgroup>
                <optgroup label="Simple Webpage Templates Rs. 4000.00">
                    <option value="Web Page Template Rs. 4000.00">Web Page Template</option>                    
                </optgroup>
                <optgroup label="Coming Soon Templates">
                    <option value="Coming Soon Template Rs. 4000.00">Coming Soon Template</option>                    
                </optgroup>
                <optgroup label="Other Templates">
                    <option value="Band Template Rs. 4000.00">Band Template</option>
                    <option value="Photo Album Template Rs. 4000.00">Photo Album Template</option>                    
                </optgroup>                
            </select><br/>
           
            <label>OR</label><br/>
            
            <label>I have my own Template (image file or word file or pdf)</label>
            <input type="file" name="customertemplate" /><br/>

            <label>STEP 2.</label><br/>
            <label>Select Basic Features: </label><br/>
            <input type="checkbox" name="home" value="Home (Content Typing Charges Rs. 15.00 per 500 words)"/><label>Home</label><br/>
            <label>Upload content for Home Page (word or pdf)</label><br/>
            <input type="file" name="homecontent" value="Home Content"/><br/>

            <input type="checkbox" name="about" value="About (Content Typing Charges Rs. 15.00 per 500 words)"/><label>About</label><br/>
            <label>Upload content to show in About Section (word or pdf)</label><br/>
            <input type="file" name="aboutcontent" value="About Content"/><br/>

            <input type="checkbox" name="services" value="Services (Content Typing Charges Rs. 15.00 per 500 words)"/><label>Services</label><br/>
            <label>Upload content to show in Services (word or pdf)</label><br/>
            <input type="file" name="servicescontent" value="Services Content "/><br/>

            <input type="checkbox" name="whyus" value="Why Us (Content Typing Charges Rs. 15.00 per 500 words)"/><label>Why Us</label><br/>
            <label>Upload content for in Why Us Section  (word or pdf)</label><br/>
            <input type="file" name="whyuscontent" value="Why Us Content "/><br/>

            <input type="checkbox" name="contactusonlyaddress" value="Contact Us (Only Address)"/><label>Contact Us (Only Address)</label><br/>
            <label>Please provide the Address to be mentioned in your website</label><br/>
            <input type="address" name="address" /><br/>

            <label>Please provide the Phone Number to be shown in your website</label><br/>
            <input type="tel" name="phonenumber" maxlength="15" /><br/>

            <input type="checkbox" name="socialmedia" value="Social Media"/><label>Social Media</label><br/>
            <label>Please Provide url of your social media accounts link. (eg. https://www.facebook.com/quickwebsite)</label><br/>
            <textarea name="socialmediaaccountlink" style="background-color: transparent;">
        
            </textarea><br/>
            <input type="checkbox" name="policy" value="Policy (Content Typing Charges Rs. 15.00 per 500 words)"/><label>Policy</label><br/>
            <label>Upload Your Business Policy to mention in your website</label><br/>
            <input type="file" name="policycontent")/><br/>  

            <input type="checkbox" name="termsandconditions" value="Terms & Conditions (Content Typing Charges Rs. 15.00 per 500 words)"/><label>Terms & Conditions</label><br/>
            <label>Upload Your Business Terms & Conditions to mention in your website</label><br/>
            <input type="file" name="termsandconditionscontent"/><br/>

            <input type="checkbox" name="copyright" value="Copy Right (Content Typing Charges Rs. 15.00 per 500 words)"/><label>Copy right</label><br/>
            <label>Please provide Copy Right Information (if any)</label><br/>
            <textarea name="copyrightcontent" style="background-color: transparent;">

            </textarea><br/><br/>

            <label>STEP 3.</label><br/>
            <label>Designing Part:</label><br/>
        
            <label>Select Website Background color or image</label><br/>
            <input type="color" name="backgroundcolor"/><label>Choose Background Color here OR Upload Image below</label><br/>
            
            <input type="file" name="background-image"/>
            <br/>
            <label>Select Website text color </label><br/>
            <input type="color" name="textcolor"/><label>Choose Text Color here OR Upload Image below</label><br/>
            
            <label>STEP 4.</label><br/>
            <label>Select More Features: </label><br/>
        
            <input type="checkbox" name="logobycustomer" value="I have my own Logo"/><label>I have my own Logo</label><br/>
            <label>Upload your Logo here if you have one</label><br/>
            <input type="file" name="logocontent"/><br/>

            <label>OR</label><br/>

            <input type="checkbox" name="logopurchasing" value="I want to buy Logo (Rs. 2000.00)"/><label>I want To Buy Logo</label><br/>
            
            <input type="checkbox" name="gallery" value="Gallery (Rs. 200.00 per page)"/><label>Gallery</label><br/>
            <label>Upload content to show in Gallery</label><br/>
            <input type="file" name="gallerycontent"/><br/>

            <input type="checkbox" name="templatefeature" value="Template Feature (Rs. 100 per page)"/><label>Templates Feature</label><br/>
            <label>Upload text content to show in Templates </label><br/>
            <input type="file" name="templatefeaturetextcontent"/><br/>  

            <label>Upload Photos to show in Templates if you have</label><br/>
            <input type="file" name="templatefeaturecontentfiles"/><br/>

            <input type="checkbox" name="menu" value="Menu (Rs. 200.00 per page)"/><label>Menu </label><br/>
            <label>Upload content to Write in Menu Section of your Food Services website (word or pdf)</label><br/>
            <input type="file" name="menucontent"/><br/>
        <br/>
        
            <label>STEP 5.</label><br/>
            <label>Select Advanced Features:</label><br/>
        
            <input type="checkbox" name="registerlogin" value="Register and Log in (Rs. 5000.00)"/><label>Register (Sign up) and Log in (Sign in)</label><br/>
            <label>Please write your Personal Email Or Business Email Id (Required for OTP )</label><br/>
            <input type="email" name="businessemail"/><br/>

            <input type="checkbox" name="contactuswithform" value="Contact Us with Address Plus Contact Form (Rs. 2000.00)"/><label>Contact Us (Address Plus Contact Us Form)</label><br/>

            <input type="checkbox" name="paymentmethod" value="Payment Method"/><label>Payment Method</label><br/><br/>
            <label>Payment Method Content (We will contact you regarding this)</label>
            <input type="file" name="paymentmethodcontent"/><br/><br/>
        
            <label>STEP 6.</label><br/>
            <label>Other Features or Services:</label><br/>
        
            <input type="checkbox" name="emailservice" value="Email Services Rs. 4000.00"/><label>I want to send Email from my website</label><br/>
            <input type="checkbox" name="messageservice" value="Message Services Rs. 4000.00"/><label>I want to send Text Messages from my website</label><br/>
            <input type="checkbox" name="database" value="Data Base Rs. 5900"/><label>Data Base</label><br/>
            
            <label>STEP 7.</label><br/>
            <label>Additional</label><br/>
            
            <label>Describe your website briefly to get the idea of website you would like</label><br/>
            <textarea name="websitedescription">
        
            </textarea><br/>
            <label>Include</label><br/>
            <textarea name="include" style="background-color: transparent;">
        
            </textarea><br/>
            <label>Do Not Include</label><br/>
            <textarea name="donotinclude" style="background-color: transparent;">
        
            </textarea><br/><br/>
                        
            <input type="submit" value="Add To Cart"/>
        </form>        
           
    
    </div>     

</div>
<%- include('modal') %>
<%- include('dashboardfooter') %>




