<%- include('dashboardheader') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>Dashboard Portfolio Templates</h2>

        <div  id="fooandrestaurants">          
            <h3>Portfolio Template</h3>            
            <a href="/dashboardportfoliotemplatedemo" target="_blank"><img class="class-img" src="images/portfolio.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/dashboardportfoliotemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="window.open('/dashboardgetstarted/#portfolio-template', '_blank')">Use Template</button> 
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>CV (Resume) Template</h3>            
            <a href="/dashboardresumetemplatedemo" target="_blank"><img class="class-img" src="images/resume.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/dashboardresumetemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="window.open('/dashboardgetstarted/#cv-template', '_blank')">Use Template</button> 
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Photo Portfolio Template</h3>            
            <a href="/dashboardphotoportfoliotemplatedemo" target="_blank"><img class="class-img" src="images/photoportfolio.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/dashboardphotoportfoliotemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="window.open('/dashboardgetstarted/#photo-portfolio-template', '_blank')">Use Template</button> 
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Nature Portfolio Template</h3>            
            <a href="/dashboardnatureportfoliotemplatedemo" target="_blank"><img class="class-img" src="images/natureportfolio.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/dashboardnatureportfoliotemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="window.open('/dashboardgetstarted/#nature-portfolio-template', '_blank')">Use Template</button> 
        </div>

        <hr/>
    </div>    
</div>
<%- include('modal') %>
<%- include('dashboardfooter') %>




