<%- include('dashboardheader') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>All Templates</h2>

        <div  id="fooandrestaurants">          
            <h3>Pizza Restaurant Template</h3>            
            <a href="/pizzarestaurantdemo" target="_blank"><img class="class-img" src="images/pizzaRestaurant_temp.jpg" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value="Pizza Restaurant Template"/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        <div  id="#">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="openDemo(), _blank">Demo</button><br/> 
            <form action="/dashboardgetstarted/addtocart" method="post" role="form">
                <input name="pizzarestauranttemplate" type="hidden" value=""/>
                <button class="each-button" type="submit" onclick="addToDashboardCart()">Use Template</button>   
            </form>   
        </div>

        <hr/>

        
    </div>
</div>
<%- include('modal') %>

<%- include('dashboardfooter') %>




