
<%- include('dashboardheader')  %>
<div class="item2"></div>
<div class="item item3 main">

    <div class="container welcome" id="homecontent"> <!--welcome div-->
              <% if(msg != '') {%> 
                <h1 style="color: whitesmoke"> <%= msg %> </h1>  
              <% } %>
               <h1><a href="#">Dashboardcustomer</a></h1>
               <h1><a href="/dashboardgetstarted">Get Started</a></h1>
               <h2>Take your Small Business to the Next Level</h2> 
               <div class="row">           
                <div class="column column-left">
                  <h3><a href="/dashboardgetstarted" style="text-decoration: none;">Start Building a Website</a></h3>
                  <h3><a href="/dashboardcustomer/#howitworkscontent" style="text-decoration: none;" >Let's Make it Easy</a></h3>
                  <h3><a href="/dashboardcontactus" style="text-decoration: none;">Ask Us</a></h3>                                
                </div>
                <div class="column column-right">
                  <h3><a href="/dashboardspecialoffers" style="text-decoration: none;">Special Offers</a></h3>  
                  <h3><a href="/dashboarddecidebyfeatures" style="text-decoration: none;">Decide by Features</a></h3>
                  <h3><a href="/dashboardaddon" style="text-decoration: none;">Add On</a></h3>
                </div>
          </div><!--row div ends-->
    </div><!--welcome div ends here-->
      
     <div id="howitworkscontent" class="how-it-works"><!--how it works strts-->
               <h2>This is how it works</h2>
       
                <div class="row">     
                               
                      <ol>  
                        <li><a href="#" onclick="openSignUpModal()">Sign up</a> (Register for Free)</li>   
                        <li><a href="#" onclick="openSignInModal()">Sign in</a> (Log in)</li>
                        <li>Open <a href="/getstarted">Get Started</a></li> 
                        <li>Complete Steps one by one</li> 
                        <!--                                            
                        <li>Choose the right template from the <a href="#" target="_blank"><i>Templates</i></a></li>
                        <li>Choose the right <a href="/decidebyfeatures">Features</a> that suite the services of your business</li>
                        <li>Provide Website Content to be shown on your website</li>
                        <li>Review Your Order List</li>
                        <li>Accept Agreement</li>
                        <li>Pay For all above</li>
                        <li>Sooner our team will start working on your project website</li>
                        <li>Please Keep in mind that our team may contact you several times, to ask required stuff from your side and to serve you best</li>
                        -->
                      </ol>             
                                              
                    </div>
          </div> 
                      <!--how it works ends here-->      
    
    
     <!-- About Content Stats here-->
     
     <div class="about" id="aboutcontent">
          <h2>About</h2>
          <p>
            We are a Freelance Service Providers. We give web solutions to small businesses. Our employees work as a part of remote team from different locations. Our working procedures are hassle free for the customers and we have structured our business in such a way that our employees priortise quality over quantity. This is the main reason that our existing customers never go away. More you look at our website, more you will know about us.

          </p>
          <p>Cheers :)</p>
        </div>
    
        <!-- About Content ends here-->

        <!-- Services Content Stats here-->
     <div class="services" id="servicescontent">
          <h2>Services</h2>
          
          <div class="row">
            <div class="column column-left">
              <h3 style="text-align: center;">Our services include:</h3>
              <ul>
                <li><b><i><a href="/getstarted" style="text-decoration: none;">Creating New Websites</a></i></b> for Small Businesses</li>
                <li>Small Business <b><i><a href="/getstarted" style="text-decoration: none;">Websites Repairing</a></i></b></li>
                <li><b><i><a href="/getstarted" style="text-decoration: none;">Editing</a></i></b> Small Business Websites</li>
              </ul>
              
              
            </div>
            <div class="column column-right">
                <h3> Freelance Services:</h3>
                <ul>
                  <li><a href="#" onclick="openGiveYourDetailsModal()">Web-Development</a></li>                  
                </ul>
            </div>
          </div>            

        </div>                        
        <!-- Services Content ends here-->            
            
        <!-- Why us Content Stats here-->
     <div class="whyus" id="whyuscontent">
      <h2>Why Us</h2>
      <p>
        Our Team is a group of professionals and We believe in quality over quantity. We only offer you what we can do at our best rather than offering everything. Our policy is to keep our customers satisfied according to their requirements. That's why our customers choose us over and over again for their upcoming projects, which helps us to keep a long term relationship with our customers. 
      </p>
      <p>
        Besides, We are punctual and specific to our tasks. We believe in "First Come, First Serve" policy. We think deep and always make sure that our clients get what they have come for. Our Knowledge is up to date and our honesty is our pride.
      </p>
      
     </div>                        
    <!-- Why us Content ends here-->            

</div> <!--main div ends here-->    
    
<div class=" item4"></div>


<%- include('modal') %>
<%- include('dashboardfooter') %> 