<%- include('dashboardheader') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>Food & Restaurants Templates</h2>

        <div  id="fooandrestaurants">          
            <h3>Pizza Restaurant Template</h3>            
            <a href="/dashboardpizzarestaurantdemo" target="_blank"><img class="class-img" src="images/pizzaRestaurant_temp.jpg" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="window.open('/dashboardpizzarestaurantdemo', '_blank'), _blank">Demo</button><br/>
            <button class="each-button" onclick="window.open('/dashboardgetstarted/#pizza-restaurant-template', '_blank')">Use Template</button>
             
        </div>
        
        <hr/>

        <div >          
            <h3 >Catering Template</h3>            
            <a href="/dashboardcateringtemplatedemo" target="_blank"><img class="class-img" src="images/catering.jpg" width="90%" height="90%"/></a><br/>
            <button class="each-button" onclick="window.open('/dashboardcateringtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="window.open('/dashboardgetstarted/#catering-template', '_blank')">Use Template</button> 

        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Modal Restaurant Template</h3>            
            <a href="/dashboardmodalrestauranttemplatedemo" target="_blank"><img class="class-img" src="images/restaurantimage.jpg" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="window.open('/dashboardmodalrestauranttemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="window.open('/dashboardgetstarted/#modal-restaurant-template', '_blank')">Use Template</button> 
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Cafe Template</h3>            
            <a href="/dashboardcafetemplatedemo" target="_blank"><img class="class-img" src="images/coffee-shop-1209863_1920.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/dashboardcafetemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="window.open('/dashboardgetstarted/#cafe-template', '_blank')">Use Template</button> 
        </div>

        <hr/>
    </div>    
</div>
<%- include('modal') %>
<%- include('dashboardfooter') %>




