<%- include('dashboardheader') %>

<div class="item item3 main ">
    <div class="container welcome getstarted" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <% if(msg != '') { %>
            <h2><%= msg %> </h2>
        <% } %> 
        <h2>Start Building Your Website<br/><br/>
             <strong>Select your choice below</strong>
        </h2>    
         
            <form action="/dashboardgetstarted" method="post" role="form" enctype="multipart/form-data">
            <label>STEP 1. Template:-</label><br/>
            <select name="template" id="template">
                <option>Select Template</option>
                <optgroup label="Food & Restaurant Templates">
                    <option value="Pizza Restaurant Template &#9989;">Pizza Restaurant Template</option>
                    <option value="Catering Template &#9989;">Catering Template</option>
                    <option value="Modal Restaurant Template &#9989;">Modal Restaurant Template</option>                    
                    <option value="Cafe Template &#9989;">Cafe Template</option>                    
                </optgroup>
                <optgroup label="Portfolio Templates">
                    <option value="Portfolio Template &#9989;">Portfolio Template</option>
                    <option value="CV Template &#9989;">CV (Resume) Template</option>
                    <option value="Photo Portfolio Template &#9989;">Photo Portfolio Template</option>
                    <option value="Nature Portfolio Template &#9989;">Nature Portfolio</option>                    
                </optgroup>
                <optgroup label="Small Business Website Templates">
                    <option value="Clothing Store Template &#9989;">Clothing Store Template</option>
                    
                </optgroup>
                <optgroup label="Blog Templates">
                    <option value="Blog Template &#9989;">Blog Template</option>
                    <option value="Food Blog Template &#9989;">Food Blog Template</option>
                    <option value="Fashion Blog Template &#9989;">Fashion Blog Template</option>
                    <option value="Cafe Blog Template &#9989;">Cafe Blog Template</option>
                    <option value="Travel Blog Template &#9989;">Travel Blog Template</option>
                </optgroup>
                <optgroup label="Invitation Templates">
                    <option value="Wedding Invitation &#9989;">Wedding Invitation</option>                    
                </optgroup>
                <optgroup label="Simple Webpage Templates">
                    <option value="Web Page Template &#9989;">Web Page Template</option>                    
                </optgroup>
                <optgroup label="Coming Soon Templates">
                    <option value="Coming Soon Template &#9989;">Coming Soon Template</option>                    
                </optgroup>
                <optgroup label="Other Templates">
                    <option value="Band Template &#9989;">Band Template</option>
                    <option value="Photo Album Template &#9989;">Photo Album Template</option>                    
                </optgroup>                
            </select><br/>
           
            
            <label>STEP 2. Basic Features:- </label><br/>
            <label>Please Click the box and Select Basic Features: </label><br/>
            <input type="checkbox" name="home" value="Home Page &#9989;"/><label>I want "Home Page" in my website</label><br/>
            <label>Please Provide "Home Page Content" (If Available)</label><br/>
            <textarea name="homepagecontent" placeholder="Enter Home Page Content here...">
            
            </textarea><br/>         
            
            <input type="checkbox" name="about" value="About &#9989;"/><label>I want "About"</label><br/>
            <label>Please Provide "About Content" (if Available)</label><br/>
            <textarea name="aboutcontent">

            </textarea><br/>
            <input type="checkbox" name="services" value="Services &#9989;"/><label>I want "Services" Feature</label><br/>
            <label>Please Provide "Services Content" (If Available)</label><br/>
            <textarea name="servicescontent">

            </textarea><br/>
            <input type="checkbox" name="whyus" value="Why Us &#9989;"/><label>I want "Why Us" Feature</label><br/>
            <label>Please Provide "Content for Why Us Feature" (If Available)</label><br/>
            <textarea name="whyuscontent">

            </textarea><br/>

            <input type="checkbox" name="contactusonlyaddress" value="Contact Us (Only Address) &#9989;"/><label>I want "Contact Us (Only Address)"</label><br/>
            <label>Please provide the "Address" to be mentioned in your website</label><br/>
            <input type="address" name="address"/><br/>

            <label>Please provide the "Phone Number" to be shown in your website</label><br/>
            <input type="tel" name="phonenumber" maxlength="15" /><br/>

            <input type="checkbox" name="socialmedia" value="Social Media &#9989;"/><label>I want "Social Media" Feature</label><br/>
            <label>Please Provide url of your social media accounts link. (eg. https://www.facebook.com/quickwebsite)</label><br/>
            <textarea name="socialmedialink" >
        
            </textarea><br/>
            <input type="checkbox" name="policy" value="Policy &#9989;"/><label>I want to include my "Policy"</label><br/>
            <label>Upload Your Business Policy to mention in your website</label><br/>
            <textarea name="policycontent">

            </textarea><br/>  

            <input type="checkbox" name="termsandconditions" value="Terms & Conditions &#9989;"/><label>I want to Include "Terms & Conditions"</label><br/>
            <label>Please Provide Your Business Terms & Conditions to mention in your website</label><br/>
            <textarea name="termsandconditionscontent">

            </textarea><br/>
            <input type="checkbox" name="copyright" value="Copy Right &#9989;"/><label>I want to include "Copy right" information</label><br/>
            <label>Please provide Copy Right Information (if any)</label><br/>
            <textarea name="copyrightcontent" >

            </textarea><br/><br/>

            <input type="radio" name="logo" value="I want to buy Logo &#9989;" onclick="hideLogoFileUploadInput()"/><label>I want to buy "Logo"</label><br/>
            <input type="radio" name="logo" value="I have my own Logo &#9989;" onclick="showLogoFileUploadInput()"/><label>I have my own Logo</label><br/>
            <label class="logo-file-upload-label">Please Upload your Logo here (if you have one)</label><br/>
            <input type="file" name="logocontent" style="display: none;" class="logo-file-upload-input"/><br/>


            <label>STEP 2. External Features:- </label><br/>
                           
            <input type="checkbox" name="gallery" value="Gallery &#9989; (Note: Database Required, So Included Database Charges )"/><label>I want to include "Photo Gallery"</label><br/>
            <label>"Any Text Content" For "Photo Gallery"</label><br/>
            <textarea name="textcontentforgallery">

            </textarea><br/>

            <label>Upload content to show in Photo Gallery</label><br/>
            <input type="file" name="uploadcontentforgallery" /><br/>

            <input type="checkbox" name="templatesfeature" value="Templates Feature &#9989; (Note: Database Required, So Included Database Charges )"/><label>I want to show my work "Templates"</label><br/>
            <label>"Text Content" for "Templates"</label><br/>
            <textarea name="textcontentfortemplates">

            </textarea><br/>
            <label>"Upload Content" to show in "Templates" </label><br/>
            <input type="file" name="uploadcontentfortemplates"/><br/>  

            
            <input type="checkbox" name="menu" value="Menu &#9989; (Note: Database Required, So Included Database Charges )"/><label>I want to show my "Menu" to my website</label><br/>
            <label>Menu Content</label><br/>
            <textarea name="textcontentformenu">

            </textarea><br/>
            <label>OR</label>
            <label>"Upload Menu Image" to show in Menu Section of your Food Services website (word or pdf)</label><br/>
            <input type="file" name="uploadcontentformenu"/><br/>
        <br/>


        <label>STEP 3. Advanced Features:- </label><br/>
            
            <input type="checkbox" name="registerlogin" value="Register and Log in &#9989; (Note: Database Required, So Included Database Charges )"/><label>I want Register and Log in Feature</label><br/>
            
            <input type="checkbox" name="contactuswithform" value="Contact Us With Address Plus Contact Form &#9989; (Note: Database Required, So Included Database Charges )"/><label>I want to add "Contact Form" in my Contact Us Feature</label><br/>

            <input type="checkbox" name="paymentmethod" value="Payment Method &#9989; (Note: Database Required, So Included Database Charges )"/><label>I want to accept payments through my website using "Payment Method"</label><br/><br/>
            <label>Please Provide your Individual/Business Account Number with IFSC and GST/PAN Number (Required for accepting payments)</label>
            <textarea name="bankaccountandifsc">

            </textarea><br/>
            <label for="emailid">Email Id (Required)</label><br/>
            <input type="email" name="emailid" id="emailid"><br/>
            
            <label>STEP 4. Designing:- </label><br/>
            <input type="radio" name="websitebackground" value="I want Background-Color in my Website &#9989;" onclick="showBackgroundColorInput()" /><label>I want Background-color in my Website</label><br/>
            <label class="background-color-select-input" >Choose Website's Background color:- </label><input type="color" name="backgroundcolor" class="background-color-select-input" /><br/>
            
            <input type="radio" name="websitebackground" value="I want Background-Image in my Website &#9989;" onclick="showBackgroundImageInput()"/><label>I want Background-Image in my Website</label></span><br/>     
            <label class="background-image-select-label">Upload Website's Background Image</label><input type="file" name="backgroundimage" style="display: none;" class="background-image-select-input"/>
            <br/>

            <label>Choose Website's Text Color:- </label><br/>
            <input type="color" name="textcolor"/>

            <br/>
            <label>STEP 5. Uploads</label><br/>            
            <label>Upload Images and word Files</label><br/>
            <input type="file" name="uploadedfilesnames" multiple /><br/>
          
                    
            <label>STEP 6.</label><br/>
            <label>Other Features or Services:</label><br/>
        
            <input type="checkbox" name="emailservice" value="Email Services &#9989;"/><label>I want to send Email from my website</label><br/>
            <input type="checkbox" name="messageservice" value="Message Services &#9989;"/><label>I want to send Text Messages from my website</label><br/>
            <input type="checkbox" name="database" value="Data Base &#9989;"/><label>Data Base</label><br/>
            
            <label>STEP 7.</label><br/>
            <label>Additional</label><br/>
            
            <label>Describe your website briefly to get the idea of website you would like</label><br/>
            <textarea name="websitedescription">
        
            </textarea><br/>
            <label>Include</label><br/>
            <textarea name="include">
        
            </textarea><br/>
            <label>Do Not Include</label><br/>
            <textarea name="donotinclude">
        
            </textarea><br/><br/>
                        
            <input type="submit" value="Add To Cart"/>
        </form>        
           
    
    </div>     

</div>
<%- include('modal') %>
<%- include('dashboardfooter') %>




