<%- include('dashboardheader') %>

<div class="item item3 main ">
    <div class="container welcome getstarted" ><!--welcome css working in this-->
        
        <h2>Freelance Page</h2> 
        <a href="#">Post Work</a><a href="#">Find Work</a>
                
    </div>
</div>
<%- include('modal') %>
<%- include('dashboardfooter') %>




