<%- include('dashboardheader') %>

<div class="item item3 main ">
    <div class="container welcome career" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <% if(msg != '') {%> 
            <h1 style="color: whitesmoke"> <%= msg %> </h1>  
        <% } %>
        <h2>Career Dashboard</h2> 
        
        Enter Your Email Id and look for your Resume Status
            
    </div>
</div>
<%- include('modal') %>
<%- include('dashboardfooter') %>




