<%- include('dashboardheader') %>

<div class="item item3 main ">
    <div class="container welcome getstarted" ><!--welcome css working in this-->
        
        <h2>Help Dashboard</h2> 
        <h2>FAQ</h2>  
        <h2>Give Feedback</h2> 
        <h2>Give Suggestion</h2>       
    </div>     

</div>
<%- include('modal') %>
<%- include('dashboardfooter') %>




