<%- include('dashboardheader') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        
        <h2>Other Templates</h2> 

       <div  id="fooandrestaurants">          
            <h3>Band Template</h3>            
            <a href="/dashboardbandtemplatedemo" target="_blank"><img class="class-img" src="images/bandtemplate.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/dashboardbandtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="window.open('/dashboardgetstarted/#band-template', '_blank')">Use Template</button> 
        </div>

        <hr/>
        
        <div  id="fooandrestaurants">          
            <h3>Photo Album Template</h3>            
            <a href="/dashboardphotoalbumtemplatedemo" target="_blank"><img class="class-img" src="images/photoalbum.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/dashboardphotoalbumtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="window.open('/dashboardgetstarted/#photo-album-template', '_blank')">Use Template</button> 
        </div>

        <hr/>
                
    </div> 
</div>
<%- include('modal') %>
<%- include('dashboardfooter') %>




