<%- include('dashboardheaderadmin') %>

<div class="item item3 main ">
    <div class="container welcome career" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <% if(msg != '') {%> 
            <h1 style="color: whitesmoke"> <%= msg %> </h1>  
        <% } %>
        <h2>Career</h2> 
        
        <button onclick="alert('There is no vacancy available at the moment, Please Try Again later')" class="each-button">Apply For Job</button>    
    
    </div>
</div>
<%- include('modal') %>
<%- include('dashboardfooteradmin') %>




