<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome decidebyfeatures" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>Decide By Features</h2> 
        <form>
            <input type="checkbox" name="home" value="Home"/><label>Home</label><br/>
            <input type="checkbox" name="home" value="Home"/><label>About</label><br/>
            <input type="checkbox" name="home" value="Home"/><label>Services</label><br/>
            <input type="checkbox" name="home" value="Home"/><label>Why Us</label><br/>
            <input type="checkbox" name="home" value="Home"/><label>Contact Us (Address Only)</label><br/>
            <input type="checkbox" name="home" value="Home"/><label>Contact Us (Address plus Contact Form)</label><br/>
            <input type="checkbox" name="home" value="Home"/><label>Register</label><br/>
            <input type="checkbox" name="home" value="Home"/><label>Log in</label><br/>
            <input type="checkbox" name="home" value="Home"/><label>Subscribe</label>
        </form>
        
    </div>
</div>
<%- include('modal') %>
<%- include('footer') %>




