<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome getstarted" ><!--welcome css working in this-->
        <h2>FAQ</h2> 
        <button class="accordion">Q. Can I get refund?</button>
        <div class="panel">
        <p>
            Ans. No, Because our team has already started working on your project, so it is impossible for us to pay you back. 
        </p>
        </div>

        <button class="accordion">Q. How many days do I have to wait for my website?</button>
        <div class="panel">
        <p>
           Ans. Please check the estimated days in your order. This is the amount of time to complete your website. The Estimated days exclude Weekends and Public holidays(in India).
            Note: External addition will cost extra money and extra time.
        </p>
        </div>

        <button class="accordion">Q. Can I get changes done in my order?</button>
        <div class="panel">
        <p>
            Ans. Once, you have paid for your order. Our team starts working on your project. Therefore minor changes can be made and any kind of change will cost extra money and time. The extra cost is for the extra work done on your project, which obveously will take extra time as well.
        </p>
        </div>

<button class="accordion">Q. Is the information I provided safe and secure?</button>
<div class="panel">
  <p>Ans. Off Course! Our Clients' privacy is our first priority. Therefore, don't worry. Your information is encrypted in our database. 
      
  </p>
</div>
<button class="accordion">Q. What if I am not satisfied with the work done?</button>
<div class="panel">
  <p>Ans. Before the final deployment, we will show you your project. If it doesn't fit to the requirements you provided, we will reconsidered this and make necessary changes as you required in your order. 
      Please Note: Any external change out of prediscussed requirements will cost extra charges and time.

  </p>
</div>
<button class="accordion">Q. Which technology do you frequently use?</button>
<div class="panel">
  <p>
    Ans. At front end, We frequently use html, css, javascript. At back end, we use nodejs. For database, we use mongoDB. For deployment, we use aws ec2 instance. For email services, we use amazon SES and we use some other advanced tools as well.

  </p>
</div>
<button class="accordion">Q. Can You make a Logo?</button>
<div class="panel">
  <p>
    Ans. Yes, We design Logo for a cost.<!--  Visit <a href="/getstarted">Get Started</a> to buy one. -->
    
  </p>
</div>
<button class="accordion">Q. Should I provide the images for the website?</button>
<div class="panel">
  <p>
    Ans. Yes please, if you have images available, then please send them to <a href="mailto: contact@quickwebsite.net">contact@quickwebsite.net</a> <!-- then please upload them in the "<a href="/getstarted">Get Started</a>" Section, but if you don't have images available, please describe in "<a href="/getstarted">Get Started</a>" Section about the type of images, you would like.<br/><br/>-->
    <br/>
    Please Note: Some images provided from our side are free of cost, but some may have to be purchased for a price according to your requirements. 
 </p>
</div>
<button class="accordion">Q. Do you build custom sites or use templates?</button>
<div class="panel">
  <p>
    Ans. We write website codes by ourselves, that means we customise websites according to client's requirements.
    
  </p>
</div>
<button class="accordion">Q. Are your web designs responsive?</button>
<div class="panel">
  <p>
    Ans. Yes, our website designs are responsive. That means, you can use same website on Mobiles, Tablets and Computer Screen.     

  </p>
</div>
<button class="accordion">Q. Who will manage my web hosting?</button>
<div class="panel">
  <p>
    Ans. We deploy website on aws server, which is one of best web hosting server. If you have some knowledge about web hosting, then you can host it by yourself or we can do it for you for a cost.<!--  Please complete "<a href="/getstarted">Get Started</a>" Section to know more about it.
    <br/><bt/>  
    Please Note: To deploy your website online, we will need a few details from your web hosting account such as usename and password. You can change it later, in case you want to manage your hosting by yourself.  
 -->
  </p>
</div>
<button class="accordion">Q. Who will build my website?</button>
<div class="panel">
  <p>
    Ans. We hire freelance professionals, who have been working as webdevelopers for a long time. They work as a part of remote team on your project. 

  </p>
</div>
<button class="accordion">Q. Can I pay after you complete the project?</button>
<div class="panel">
  <p>
    Ans. Sorry, you will have to buy the services you would like, after that our team will start working on your required services. So pay first please.

  </p>
</div>
<button class="accordion">Q. How many times will I be contacted?</button>
<div class="panel">
  <p>
    Ans. During your project period, you may be contacted several times, This is because, sometimes you may be asked deeply about the requirements of your services. So make sure your Email Id and Mobile phone number are up to date and you are available on them. 
    <br/><br/>
    Please Note: Delay in Email or Call response may delay your project.

  </p>
</div>
<button class="accordion">Q. Will I get invoice for the payment I have made?</button>
<div class="panel">
  <p>
    Ans. Yes, Off Course. 

  </p>
</div>
       
    </div>
</div>
<script>
    // accordin
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
<%- include('modal') %>
<%- include('footer') %>




