<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>Food & Restaurants Templates</h2>

        <div  id="fooandrestaurants">          
            <h3>Pizza Restaurant Template</h3>            
            <a href="/pizzarestaurantdemo" target="_blank"><img class="class-img" src="images/pizzarestauranttemplate.jpg" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="window.open('/pizzarestaurantdemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div >          
            <h3 >Catering Template</h3>            
            <a href="/cateringtemplatedemo" target="_blank"><img class="class-img" src="images/catering.jpg" width="90%" height="90%"/></a><br/>
            <button class="each-button" onclick="window.open('/cateringtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>
        
        <div  id="fooandrestaurants">          
            <h3>Modal Restaurant Template</h3>            
            <a href="/modalrestauranttemplatedemo" target="_blank"><img class="class-img" src="images/restaurantimage.jpg" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="window.open('/modalrestauranttemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Cafe Template</h3>            
            <a href="/cafetemplatedemo" target="_blank"><img class="class-img" src="images/coffee-shop-1209863_1920.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/cafetemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>
    </div>
    
</div>
<%- include('modal') %>
<%- include('footer') %>




