
    <div class="item item5 footer">

        <button id="taptotopButton" onclick="goToTop()">Tap Here to go to Top</button>
        <div class="row">          
            <div class="column column-1">
              <h2>Website</h2>
              
              <ul>
                <li><a href="/#aboutcontent">About</a></li>               
                <li><a href="/#servicescontent">Services</a></li>
                <li><a href="/#whyuscontent">Why Us</a></li>
                <li><a href="/templates">Templates</a></li>

                <li><a href="/termsandconditions">Terms & Conditions</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/help">Help</a></li>
                <li><a href="/specialoffers">Special Offers</a></li>
                <!-- <li><a href="#" onclick="openSignInModal()">Find Freelancer</a></li> -->
                
                

              </ul>
            </div>
            <div class="column column-2">
              <h2>Addres</h2>
              
              <address style="text-align: left;">
                765, (Near Govt. Sr. Sec. School),<br/>
                VPO - Alahar,<br/>
                District - Yamuna Nagar, <br/>
                Pin: 135133, <br/>
                State - Haryana, <br/>
                India
              </address>
              <br/><br/><br/>
              <!-- <h2>Others</h2> -->
             
              <!-- <ul> -->
                <!--<li><a href="/termsandconditions">Privacy Policy</a></li>
                <li><a href="/termsandconditions">Payment Policy</a></li> -->
                <!-- <li><a href="/termsandconditions">Terms & Conditions</a></li>     -->          
               <!-- <li><a href="/termsandconditions">&#169; 2021 Quick Website</a></li>-->
               <!-- <li><a href="/career">Career</a></li> -->
                <!-- <li><a href="/employees">Employees</a></li> -->
                <!-- <li><a href="/faq">FAQ</a></li>
                <li><a href="/help">Help</a></li>
                <li><a href="/specialoffers">Special Offers</a></li>
              </ul> -->
            </div>  
          
          
            <div class="column column-3">
              <h2>Contact</h2>
              <ul>
                <!--<li>Toll Free: <a href="tel: +9">0091 ....demono.</a></li>-->
                <li><a href="#" onclick="openContactModal()" >Write a Message</a></li>
                <li><a href="mailto: contact@quickwebsite.net">contact@quickwebsite.net</a></li>
                <li><a href="mailto: admin@quickwebsite.net">admin@quickwebsite.net</a></li>
                <li>Call Now: <a href="tel: +919813806752">+919813806752</a></li>

              </ul>
              <br/><br/><br/>
            </div>
            <!--
            <div class="column column-4">
              <h2>Social Media</h2> 
              <br/>
              
              <a href="#" ><i class="fab fa-facebook-f"></i></a>
              <a href="#" ><i class="fab fa-twitter"></i></a>
              <a href="#" ><i class="fab fa-instagram"></i></a>
              <a href="#" class="fa fa-instagram"><i class="fab fa-instagram"></i></a>
            </div>
             -->      
          
        </div><!---->

    </div>
</div>
<script src="/javascripts/script.js"></script>
</body>
</html>
