
    <div class="item item5 footer">

        <button id="taptotopButton">Tap Here to go to Top</button>
        <div class="row">          
            <div class="column column-1">
              <h2>Website</h2>
              
              <ul>
                <li><a href="/#aboutcontent">About</a></li>
                <li><a href="/#whyuscontent">Why Us</a></li>
                <li><a href="/#servicescontent">Services</a></li>
                <li><a href="/templates">Templates</a></li>
                <li><a href="/career">Career</a></li>
                <li><a href="/employees">Employees</a></li>
                

              </ul>
            </div>
            <div class="column column-2">
              <h2>Legal</h2>
             
              <ul>
                <li><a href="/termsandconditions">Privacy Policy</a></li>
                <li><a href="/termsandconditions">Payment Policy</a></li>
                <li><a href="/termsandconditions">Terms & Conditions</a></li>              
                <li><a href="/termsandconditions">&#169; 2021 Quick Website</a></li>
                <li><a href="/faqs">FAQ</a></li>
              </ul>
            </div>  
          
          
            <div class="column column-3">
              <h2>Contact</h2>
              <ul>
                <li>Toll Free: <a href="tel: +919813806752">0091 ....demono.</a></li>
                <li>Email: <a href="mailto: vipinkmboj@gmail.com">businessema</a></li>
                <li><a href="#" onclick="openContactModal()" >Write a Message</a></li>
              </ul>
            </div>
            <div class="column column-4">
              <h2>Social Media</h2> 
              <br/>
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-instagram"></a>
            </div>
                   
          
        </div><!---->

    </div>
</div>
<script src="/javascripts/script.js"></script>
</body>
</html>
