<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome getstarted" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>Start Building Your Website</h2> 
        <form action="/addtocart" method="post" role="form">
            <select name="template" id="template">
                <option >Select Template</option>
                <optgroup label="Food & Restaurant Templates">
                    <option value="">Pizza Restaurant Template (Rs....)</option>
                    <option value="">Catering Template (Rs. )</option>
                    <option value="">Modal Restaurant Template (Rs. )</option>                    
                    <option value="">Cafe Template (Rs.)</option>                    
                </optgroup>
                <optgroup label="Portfolio Templates">
                    <option value="">Portfolio Template (Rs. )</option>
                    <option value="">CV (Resume) Template (Rs.)</option>
                    <option value="">Photo Portfolio Template (Rs. )</option>
                    <option value="">Nature Portfolio</option>                    
                </optgroup>
                <optgroup label="Small Business Website Templates">
                    <option value="">Clothing Store Template</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </optgroup>
                <optgroup label="Blog Templates">
                    <option value="">Blog Template</option>
                    <option value="">Food Blog Template</option>
                    <option value="">Fashion Blog Template</option>
                    <option value="">Cafe Blog Template</option>
                    <option value="">Travel Blog Template</option>
                </optgroup>
                <optgroup label="Invitation Templates">
                    <option value="">Wedding Invitation</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </optgroup>
                <optgroup label="Simple Webpage Templates">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </optgroup>
                <optgroup label="Coming Soon Templates">
                    <option value="">Coming Soon Template</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </optgroup>
                <optgroup label="Other Templates">
                    <option value="">Band Template</option>
                    <option value="">Photo Album Template</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </optgroup>                
            </select><br/>
            <label>OR</label><br/>
            <label>Upload Your Own Template</label><br/>
            <input type="file" name="customer_own_template"/><br/>
            <label>Select Features</label><br/>
            <input type="checkbox" name="home"/><label>Home </label><br/>
            <input type="checkbox" name="home"/><label>About </label><br/>
            <input type="checkbox" name="home"/><label>Services</label><br/>
            <input type="checkbox" name="home"/><label>Why Us</label><br/>
            <input type="checkbox" name="home"/><label>Gallery</label><br/>
            <input type="checkbox" name="home"/><label>Templates</label><br/>
            <input type="checkbox" name="home"/><label>Register (Sign up)</label><br/>
            <input type="checkbox" name="home"/><label>Log in (Sign in)</label><br/>
            <input type="checkbox" name="home"/><label>Contact Us (Only Address)</label><br/>
            <input type="checkbox" name="home"/><label>Contact Us (Address Plus Contact Us Form)</label><br/>
            <input type="checkbox" name="home"/><label>Email Service (Rs.)</label><br/>
            <input type="checkbox" name="home"/><label>Message Service (Rs.)</label><br/>
            <input type="checkbox" name="home"/><label>Payment Method (Rs.)</label><br/>
            <input type="checkbox" name="home"/><label>Social Media</label><br/>
            <input type="checkbox" name="home"/><label>Policy</label><br/>            
            <input type="checkbox" name="home"/><label>Terms & Conditions</label><br/>
            <input type="checkbox" name="home"/><label>Copy right</label><br/>
            <label>Write Other Feature</label><br/>
            <textarea>

            </textarea>

            <br/>
            <input type="submit" value="Proceed to Cart"/>
        </form>        
    </div>     

</div>
<%- include('modal') %>
<%- include('footer') %>




