<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome getstarted" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>Start Building Your Website</h2> 
                  
        <br/><br/><br/><br/>
        <h2>Please follow the instructions below to get the website of your choice</h2> 
    </div>     

</div>
<%- include('modal') %>
<%- include('footer') %>




