<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome getstarted" ><!--welcome css working in this-->
        
        <h2>Help</h2> 
        <h2>FAQ</h2>        
    </div>     

</div>
<%- include('modal') %>
<%- include('footer') %>




