
<%- include('header')  %>
  <div class="item2"></div>

  <div class="item item3 main">
      <div class="container welcome" id="homecontent"> <!--welcome div--> 
                <% if(msg != '') {%> 
                  <h1 style="color: whitesmoke"> <%= msg %> </h1>  
                <% } %>
                 <!--<h1><a href="#" style="color: royalblue;">Note: Web Site Under Construction!</a></h1>-->
                 
                 
                   <!---->
              <div class="slideshow-container1" ><!--Slideshow-container1 starts-->

                <div class="myslides1 fade1"><!--myslides1 starts-->
                  <div class="numbertext1">1 / 9</div>
                  
                  <a href="/getstarted"><img src="/images/mountains-1761292.jpg" style="width:100%; height: 330px;" class="responsive"></a>

                  <div class="text1 text1-getstarted">                    
                   
                    <h2><a href="/getstarted" style="margin: 0; padding: 0;">Get<br/><br/> Started</a></h2>
                    <!--<h2 class="homepage-slogan" style="margin: 0; padding: 0; padding-top: 2em;"><a href="/getstarted" style="text-decoration: none; color: whitesmoke;">Take your Small Business to the Next Level</a></h2>-->
                     

                  </div>
                </div><!--myslides1 ends-->
                
                <div class="myslides1 fade1"><!--myslides1 starts-->
                  <div class="numbertext1">2 / 9</div>
                  
                  <a href="/#howitworkscontent"><img src="images/hills-2836301.jpg" style="width:100%; height: 330px;"></a>

                  <div class="text1">  
                    <!--<h2 class="howitworks" style="margin: 0; padding: 0; padding-top: 2em;"><a href="/getstarted" style="text-decoration: none; color: whitesmoke;">Let's Make it Easy</a></h2>-->
                  
                    <h2 class="how-itworks" style="margin: 0; padding: 0;"><a href="/#howitworkscontent" style="margin: 0; padding: 0;">How<br/><br/> It Works</a></h2>
                    
                  </div>
                </div><!--myslides1 ends-->

                <div class="myslides1 fade1"><!--myslides1 starts-->
                  <div class="numbertext1">3 / 9</div>
                  
                  <a href="/#first-timers"><img src="images/nature-3082832 (1).jpg" style="width:100%; height: 330px;"></a>

                  <div class="text1">                    
                    <h2 style="margin: 0; padding: 0;"><a href="/#first-timers" style="margin: 0; padding: 0;">First<br/><br/> Timers</a></h2>
                     
                  </div>
                </div><!--myslides1 ends-->

                <div class="myslides1 fade1"><!--myslides1 starts-->
                  <div class="numbertext1">4 / 9</div>
                  
                  <a href="/#old-customers"><img src="images/mountains-1761292.jpg" style="width:100%; height: 330px;"></a>

                  <div class="text1">                    
                    <h2 style="margin: 0; padding: 0;"><a href="/#old-customers" style="margin: 0; padding: 0;">Old<br/><br/> Customers</a></h2>
                 
                  </div>
                </div><!--myslides1 ends-->

                <div class="myslides1 fade1"><!--myslides1 starts-->
                  <div class="numbertext1">5 / 9</div>
                  
                  <a href="/getstarted"><img src="images/hills-2836301.jpg" style="width:100%; height: 330px"></a>

                  <div class="text1">                    
                    <h2 class="build-your-website" style="margin: 0; padding: 0;"><a href="/getstarted" style="margin: 0; padding: 0;">Build<br/><br/>Your Website</a></h2>
                      <!--<h2 class="start-building-your-website" style="margin: 0; padding: 0;"><a href="/getstarted" style="margin: 0; padding: 0;">Start Building Your Website</a></h2>-->
                     
                  </div>
                </div><!--myslides1 ends-->

                <div class="myslides1 fade1"><!--myslides1 starts-->
                  <div class="numbertext1">6 / 9</div>
                  
                  <a href="/templates"><img src="images/nature-3082832 (1).jpg" style="width:100%; height: 330px;"></a>

                  <div class="text1">                    
                    <h2 style="margin: 0; padding: 0;"><a href="/templates" style="margin: 0; padding: 0;">All <br/><br/>Templates</a></h2>
 
                  </div>
                </div><!--myslides1 ends-->

                <div class="myslides1 fade1"><!--myslides1 starts-->
                  <div class="numbertext1">7 / 9</div>
                  
                  <a href="#" onclick="openSignInModal()"><img src="images/mountains-1761292.jpg" style="width:100%; height: 330px;"></a>

                  <div class="text1">                    
                    <h2 style="margin: 0; padding: 0;"><a href="#" onclick="openSignInModal()" style="margin: 0; padding: 0;">Find<br/><br/> Freelancer</a></h2>
                       
                  </div>
                </div><!--myslides1 ends-->

                <div class="myslides1 fade1"><!--myslides1 starts-->
                  <div class="numbertext1">8 / 9</div>
                  
                  <a href="/startearning"><img src="images/hills-2836301.jpg" style="width:100%; height: 330px;"></a>

                  <div class="text1">                    
                    <h2 style="margin: 0; padding: 0;"><a href="/startearning" style="margin: 0; padding: 0;">Start<br/><br/> Earning</a></h2>
                    
                  </div>
                </div><!--myslides1 ends-->

                <div class="myslides1 fade1"><!--myslides1 starts-->
                  <div class="numbertext1">9 / 9</div>
                  
                  <a href="/specialoffers"><img src="images/nature-3082832 (1).jpg" style="width:100%; height: 330px"></a>

                  <div class="text1">                    
                    <h2 style="margin: 0; padding: 0;"><a href="/specialoffers" style="margin: 0; padding: 0;">Special<br/><br/> Offers</a></h2>

                  </div>
                </div><!--myslides1 ends-->


                


                <a class="prev1" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next1" onclick="plusSlides(1)">&#10095;</a>
                
              </div><!--Slideshow-container1 ends-->
       
                <br>
                
                <div style="text-align:center">
                  <span class="dot1" onclick="currentSlide(1)"></span> 
                  <span class="dot1" onclick="currentSlide(2)"></span> 
                  <span class="dot1" onclick="currentSlide(3)"></span>
                  <span class="dot1" onclick="currentSlide(4)"></span> 
                  <span class="dot1" onclick="currentSlide(5)"></span> 
                  <span class="dot1" onclick="currentSlide(6)"></span> 
                  <span class="dot1" onclick="currentSlide(7)"></span> 
                  <span class="dot1" onclick="currentSlide(8)"></span> 
                  <span class="dot1" onclick="currentSlide(9)"></span>
                  

                </div>

                <script>
                  var slideIndex = 1;
          showSlides(slideIndex);

          function plusSlides(n) {
            showSlides(slideIndex += n);
          }

          function currentSlide(n) {
            showSlides(slideIndex = n);
          }

          function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("myslides1");
            var dots = document.getElementsByClassName("dot1");
            if (n > slides.length) {
              slideIndex = 1
            }
            if (n < 1) {
              slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active1", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active1";
          }
                          </script>



                 <!---->
                
                 <!--- Correct One uncomment Later

                 <div class="slideshow-container">

                  <div class="mySlides fade">
                    <div class="numbertext">1 / 9</div>
                    <a href="/getstarted"><img src="/images/mountains-1761292.jpg" style="width:100%; height: 400px;" class="responsive"></a>
                    <div class="text">
                      
                      <h1><a href="/getstarted" style="margin: 0; padding: 0;">Get Started</a></h1>
                      <h2 class="homepage-slogan" style="margin: 0; padding: 0; padding-top: 2em;"><a href="/getstarted" style="text-decoration: none; color: whitesmoke;">Take your Small Business to the Next Level</a></h2>
                     
                    </div>
                  </div>
                  
                  <div class="mySlides fade">
                    <div class="numbertext">2 / 9</div>
                    <a href="/#howitworkscontent"><img src="images/hills-2836301.jpg" style="width:100%; height: 400px;"></a>
                    <div class="text">
                      <h1 style="margin: 0; padding: 0;"><a href="/#howitworkscontent" style="margin: 0; padding: 0;">Let's Make it Easy</a></h1>
                     
                     
                    </div>
                  </div>
                  
                  <div class="mySlides fade">
                    <div class="numbertext">3 / 9</div>
                    <a href="/#first-timers"><img src="images/nature-3082832 (1).jpg" style="width:100%; height: 400px;"></a>
                    <div class="text">
                      <h1 style="margin: 0; padding: 0;"><a href="/#first-timers" style="margin: 0; padding: 0;">First Timers</a></h1>

                     
                    </div>
                  </div>

                  <div class="mySlides fade">
                    <div class="numbertext">4 / 9</div>
                    <a href="/#old-customers"><img src="images/mountains-1761292.jpg" style="width:100%; height: 400px;"></a>
                    <div class="text">
                      
                      <h1 style="margin: 0; padding: 0;"><a href="/#old-customers" style="margin: 0; padding: 0;">Old Customers</a></h1>
                     
                    </div>
                  </div>
                  
                  <div class="mySlides fade">
                    <div class="numbertext">5 / 9</div>
                    <a href="/getstarted"><img src="images/hills-2836301.jpg" style="width:100%; height: 400px;"></a>
                    <div class="text">
                      <h1 class="build-your-website" style="margin: 0; padding: 0;"><a href="/getstarted" style="margin: 0; padding: 0;">Build Your Website</a></h1>
                      <h1 class="start-building-your-website" style="margin: 0; padding: 0;"><a href="/getstarted" style="margin: 0; padding: 0;">Start Building Your Website</a></h1>
                    
                    </div>
                  </div>
                  
                  <div class="mySlides fade">
                    <div class="numbertext">6 / 9</div>
                    <a href="/templates"><img src="images/nature-3082832 (1).jpg" style="width:100%; height: 400px;"></a>
                    <div class="text">
                      <h1 style="margin: 0; padding: 0;"><a href="/templates" style="margin: 0; padding: 0;">Templates</a></h1>

                     
                    </div>
                  </div>

                  <div class="mySlides fade">
                    <div class="numbertext">7 / 9</div>
                    <a href="#" onclick="openSignInModal()"><img src="images/mountains-1761292.jpg" style="width:100%; height: 400px;"></a>
                    <div class="text">
                      
                      <h1 style="margin: 0; padding: 0;"><a href="#" onclick="openSignInModal()" style="margin: 0; padding: 0;">Find Freelancer</a></h1>
                      
                    </div>
                  </div>
                  
                  <div class="mySlides fade">
                    <div class="numbertext">8 / 9</div>
                    <a href="/startearning"><img src="images/hills-2836301.jpg" style="width:100%; height: 400px;"></a>
                    <div class="text">
                      <h1 style="margin: 0; padding: 0;"><a href="/startearning" style="margin: 0; padding: 0;">Start Earning</a></h1>
                    
                    </div>
                  </div>

                  <div class="mySlides fade">
                    <div class="numbertext">9 / 9</div>
                    <a href="/specialoffers"><img src="images/nature-3082832 (1).jpg" style="width:100%; height: 400px;"></a>
                    <div class="text">
                      <h1 style="margin: 0; padding: 0;"><a href="/specialoffers" style="margin: 0; padding: 0;">Special Offers</a></h1>

                     
                    </div>
                  </div>

                  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                  <a class="next" onclick="plusSlides(1)">&#10095;</a>
                  
                  </div>
                  <br>
                  
                  <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span> 
                    <span class="dot" onclick="currentSlide(2)"></span> 
                    <span class="dot" onclick="currentSlide(3)"></span> 
                    <span class="dot" onclick="currentSlide(4)"></span> 
                    <span class="dot" onclick="currentSlide(5)"></span> 
                    <span class="dot" onclick="currentSlide(6)"></span> 
                    <span class="dot" onclick="currentSlide(7)"></span> 
                    <span class="dot" onclick="currentSlide(8)"></span> 
                    <span class="dot" onclick="currentSlide(9)"></span> 

                  </div>
                  <script>
                    
                    var autoSlideIndex = 0;
                    autoShowSlides();
                    
                    function autoShowSlides() {
                    var i;
                    var autoSlides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    for (i = 0; i < autoSlides.length; i++) {
                      autoSlides[i].style.display = "none";  
                    }
                    autoSlideIndex++;
                    if (autoSlideIndex > autoSlides.length) {autoSlideIndex = 1}    
                    for (i = 0; i < dots.length; i++) {
                      dots[i].className = dots[i].className.replace(" active", "");
                    }
                    autoSlides[autoSlideIndex-1].style.display = "block";  
                    dots[autoSlideIndex-1].className += " active";
                    setTimeout(autoShowSlides, 3500); // Change image every 2 seconds
                  }

                    //
                    var slideIndex = 1;
                    showSlides(slideIndex);
                    function plusSlides(n) {
                      showSlides(slideIndex += n);
                    }
                    
                    function currentSlide(n) {
                      showSlides(slideIndex = n);
                    }
                    
                    function showSlides(n) {
                      var i;
                      var slides = document.getElementsByClassName("mySlides");
                      var dots = document.getElementsByClassName("dot");
                      if (n > slides.length) {slideIndex = 1}    
                      if (n < 1) {slideIndex = slides.length}
                      for (i = 0; i < slides.length; i++) {
                          slides[i].style.display = "none";  
                      }
                      for (i = 0; i < dots.length; i++) {
                          dots[i].className = dots[i].className.replace(" active", "");
                      }
                      slides[slideIndex-1].style.display = "block";  
                      dots[slideIndex-1].className += " active";
                      
                    }
                    </script>
                  -->

                 <!---->


                 <!--
                 <h1><a href="/getstarted">Get Started</a></h1>
                 <h2 class="homepage-slogan">Take your Small Business to the Next Level</h2>
                 <div class="row">           
                  <div class="column column-left">
                    <h3><a href="/getstarted" style="text-decoration: none;">Start Building a Website</a></h3>
                    <h3><a href="/#howitworkscontent" style="text-decoration: none;">Let's Make it Easy</a></h3>
                    <h3><a href="/#first-timers" style="text-decoration: none;">First Timers</a></h3>
                    <h3><a href="/#old-customers" style="text-decoration: none;">Old Customers</a></h3>
                                                   
                  </div>
                  <div class="column column-right">
                    <h3><a href="/startearning" style="text-decoration: none;">Start Earning</a></h3>
                    <h3><a href="/templates" style="text-decoration: none;">Templates</a></h3>
                    <h3><a href="#" onclick="openSignInModal()" style="text-decoration: none;">Find Freelancer</a></h3>
                    <h3><a href="/specialoffers" style="text-decoration: none;">Special Offers</a></h3>   
                    -->                  
                    <!-- <h3><a href="#" onclick="openContactModal()" style="text-decoration: none;">Ask Us</a></h3> -->                     
                  <!--</div> -->
           <!-- </div>--> <!--row div ends-->
      </div><!--welcome div ends here-->
        
       <div id="howitworkscontent" class="how-it-works"><!--how it works strts-->
                 <h2>This is how it works</h2>
                 <br/><br/>
                 <div class="row">
                  <ul style="text-align: left; padding-left: 20%;">
                    <li>Choose Template</li>
                    <li>Contact Us</li>
                    <li>Place Order by Email or over Phone</li>
                    <li>Sign the agreement about what has been decided between you and us</li>
                    <li>Pay your first installment</li>
                    <li>Once your payment is received, we will start working on your project</li>
                    <li>We may contact you several times for more details</li>
                    <li>We will show you your project once it is completed</li>
                    <li>Pay the rest of the amount and we will deploy your website</li>
                  </ul>
                 </div>                
         
                  <!-- <div class="row" id="first-timers"> 
                        <h4>First Timers</h4>                              
                        <ol> 
                          <li><a href="#" onclick="openSignUpModal()">Sign up</a> (Register for Free)</li>   
                          <li><a href="#" onclick="openSignInModal()">Sign in</a> (Log in)</li>
                          <li>Open <a href="/getstarted">Get Started</a></li> 
                          <li>Complete Steps one by one</li>  -->
                          <!--                                        
                          <li>Choose the right template from the <a href="#" target="_blank"><i>Templates</i></a></li>
                          <li>Choose the right <a href="/decidebyfeatures">Features</a> that suite the services of your business</li>
                          <li>Provide Website Content to be shown on your website</li>
                          <li>Review Your Order List</li>
                          <li>Accept Agreement</li>
                          <li>Pay For all above</li>
                          <li>Sooner our team will start working on your project website</li>
                          <li>Please Keep in mind that our team may contact you several times, to ask required stuff from your side and to serve you best</li>
                          -->
                       <!--  </ol>                                                
                  </div>
                  <div class="row" id="old-customers"> 
                    <h4>Old Customers</h4>                              
                    <ol>                      
                      <li><a href="#" onclick="openSignInModal()">Sign in</a> (Log in)</li>
                      <li>Open <a href="/getstarted">Get Started</a></li> 
                      <li>Complete Steps one by one</li> 
                   
                    </ol>                                                
              </div> -->
            </div> 
          <!--how it works ends here-->      
      
      
       <!-- About Content Stats here-->
       
       <div class="about" id="aboutcontent">
            <h2>About</h2>
            <p>
              Quick Website is a complete Web Solution for Individuals and Small Businesses. If you are looking for a new website or any website related help, then Quick Website is always ready to help you. Our working procedures are hassle free for the customers and we have structured our business in such a way that our employees priortise quality over quantity. This is the main reason that our existing customers never go away. More you look at our website, more you will know about us.
            </p>
            <p>Cheers :)</p>
            <!-- <p>
              We are a Freelance Service Providers. We give web solutions to individuals and small businesses. Our employees work as a part of remote team from different locations. Our working procedures are hassle free for the customers and we have structured our business in such a way that our employees priortise quality over quantity. This is the main reason that our existing customers never go away. More you look at our website, more you will know about us.
            </p>
            <p>Cheers :)</p> -->
          </div>
      
          <!-- About Content ends here-->

          <!-- Services Content Stats here-->
       <div class="services" id="servicescontent">
            <h2>Services</h2>
            
            <div class="row">
              <div class="column column-left">
                <h3 style="text-align: center;">Our services include:</h3>
                <ul>
                  <li><b><i><a href="/getstarted" style="text-decoration: none;">Creating New Websites</a></i></b> for Individuals</li>
                  <li><b><i><a href="/getstarted" style="text-decoration: none;">Creating New Websites</a></i></b> for Small Businesses</li>
                  <!-- <li>Individual/Small Business <b><i><a href="#" onclick="openContactModal()" style="text-decoration: none;">Websites Repairing</a></i></b></li>
 -->                  <!-- <li><b><i><a href="#" onclick="openContactModal()" style="text-decoration: none;">Editing</a></i></b> Individual/Small Business Websites</li>
 -->                </ul>                
              </div>
              <div class="column column-right">
                  <h3> Other Services:</h3>
                  <ul>                    
                    <!-- <li><a href="#" onclick="openSignInModal()">Find Freelancer</a></li> -->
                    <li><a href="#" onclick="openContactModal()">Deploying Website</a></li>
                    <li><b><i><a href="#" onclick="openContactModal()" style="text-decoration: none;">Editing</a></i></b> Individual/Small Business Websites</li>

                    <!-- <li><a href="#" onclick="openSignInModal()">Advertise on<br/>www.quickwebsite.net</a></li>    -->               
                  </ul>
              </div>
            </div>
            
              <!-- <h4 style="text-align: center; margin: auto;">Didn't find the service you are looking for? <a href="#" onclick="openSignInModal()">Find Freelancer</a></h4>
 -->              
          </div>                        
          <!-- Services Content ends here-->            
              
          <!-- Why us Content Stats here-->
       <div class="whyus" id="whyuscontent">
        <h2>Why Us</h2>
        <p>One of the most common reasons for any business failure is lack of online marketing. A Business Website Can be the solution for that. Here is why you should hire us for your small business website.</p>
        <p>
          Because, we are professionals and We believe in quality over quantity. We only offer you what we can do at our best rather than offering everything. Our policy is to keep our customers satisfied according to their requirements. That's why our customers choose us over and over again for their upcoming projects, which helps us to keep a long term relationship with our customers. 
        </p>
        <p>
          Besides, We are punctual and specific to our tasks. We believe in "First Come, First Serve" policy. We think deep and always make sure that our clients get what they have come for. Our Knowledge is up to date and the technologies we use are globally recognised.
        </p>        
       </div>                        
      <!-- Why us Content ends here-->            

  </div> <!--main div ends here-->    
      
  <div class=" item4"></div>


  <%- include('modal') %>
  <%- include('footer') %> 