
<%- include('header')  %>
  <div class="item2"></div>
  <div class="item item3">

        <br/>
        <h1 style="text-align: center;">Website Under process</h1>
  </div>     
      <div class=" item4"></div>


      
      <div class="item item5">Footer</div>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
