<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="music production and music classes">
    <meta name="keywords" content="music, Music, music class, music classes, music production, song recording, cheapest, cheapest classes, cheapest music classes, music website, free music, free song recording, guitar, vocal, tabla, harmonium, piano, music programming, vocal recording, music recording, tuition, best, top ">
    <meta name="author" content="Tarun Gaur">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable= no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="grid-container">
      <div class="item item1">Header

        
      </div>
      <div class=" item2"></div>
      <div class="item item3">Main

        <br/>
        <h1 style="text-align: center;">Website Under process</h1>
      </div>     
      <div class=" item4"></div>
      <div class="item item5">Footer</div>
    </div>
  </body>
</html>
