<!-- Delete Confirmation Modal starts here-->          
<div class="modal-parent-confirmation-before-delete">
    <div class="modal-confirmation-before-delete">
        <h1>Are you sure, you want to delete this?</h1>
        <br/><br/>       
        
        <form id="delete-form" method="POST" role="form">                    
        <button class="delete-anchor delete-it-button" type="submit">Delete</button>                   
        </form><br/>

        <button style="cursor: pointer;" onclick="closeConfirmBeforeDeleteModal()">No</button><br/><br/>                                                                  
        <span class="X-confirmation-before-delete" onclick="closeConfirmBeforeDeleteModal()">&times;</span>
    </div>
</div>
<!-- Delete Confirmation Modal ends here-->
