
        <!--Sign in Modal starts here-->
        <div class="modal-parent-signin" id="signin">
            <div class="modal-signin">
                <h1 style="text-align: center;">Sign in</h1>      
                <form action="/signin" method="post" role="form">
                  <label for="username">Username</label><br/>
                  <input name="uname" type="username" placeholder="Enter Your Username..." required/><br/><br/>
                  <label for="password">Password</label><br/>
                  <input name="password" type="password" placeholder="Enter Your Password..." required/><br/><br/>                            
                  <div class="modal-button">
                    <button type="submit">Sign in</button><button onclick="closeSigninModal()">Cancel</button><br/><br/>
                  </div>
                  
                  <div class="modal-anchor-tags">
                    <a href="/forgotusername">Forgot Username</a> 
                    <a href="/forgotpassword">Forgot Password</a>                                 
                    <a href="#" onclick="openSignUpModal()">Sign up</a>
                  </div>
                 
                </form>
                <span class="X-signin">&times;</span>
            </div>
          </div>
          <!--Sign in Modal ends here-->
        
          <!--Sign up Customer Modal starts here-->
          <div class="modal-parent-signup">
            <div class="modal-signup">
                <h1 style="text-align: center;">Customer Registration</h1>        
                <form action="/signupcustomer" method="post" role="form" >
                  <label for="firstname">First Name</label><br/>
                  <input name="firstname" type="text" placeholder="Enter Your First Name..." required /><br/><br/>
                  <label for="lastname">Last Name</label><br/>
                  <input name="lastname" type="text" placeholder="Enter Your Last Name..." required /><br/><br/>
                  <label for="usrname">Username</label><br/>
                  <input name="usrname" type="username" placeholder="Create a Username..." required /><br/><br/>
                  <label for="mobilenumber">Mobile Number</label><br/>
                  <input name="mobilenumber" type="tel" placeholder="Enter Your Mobile Number..." required /><br/><br/>
                  <label for="email">Email</label><br/>
                  <input name="email" type="email" placeholder="Enter Your Email id..." required /><br/><br/>
                  <div class="modal-button">
                    <button type="submit">Proceed to Sign up</button><button type="reset">Reset</button><button onclick="closeSignupModal()">Cancel</button><br/><br/>
                  </div>
                  
                  <div class="modal-anchor-tags">
                    <a href="#" onclick="openSignInModal()">Log in</a>
                  </div>
                  
                </form>
                <span class="X-signup" onclick="closeSignupModal()">&times;</span>
            </div>
          </div>
          <!--Sign up Customer Modal ends here-->

          <!--Contact Us Modal starts here-->
                  
          <div class="modal-parent-contact">
            <div class="modal-contact">
                <h1 style="text-align: center;">Contact Us</h1>
                <form action="/contactus" method="post" role="form">
                  <label for="firstname">First Name</label><br/>
                  <input name="firstname" type="text" placeholder="Enter Your First Name..." required/><br/><br/>
                  <label for="lastname">Last Name</label><br/>
                  <input name="lastname" type="text" placeholder="Enter Your Last Name..." required/><br/><br/>
                  <label for="mobilenumber">Mobile Number</label><br/>
                  <input name="mobilenumber" type="tel" placeholder="Enter Your Mobile Number..." required/><br/><br/>
                  <label for="email">Email</label><br/>
                  <input name="email" type="email" placeholder="Enter Your Email id..." optional/><br/><br/>
                  <label>Write Message</label><br/>
                  <textarea name="writeusmessage" type="text" placeholder="Enter Your Message here...">
  
                  </textarea><br/><br/>
                  <div class="modal-button">
                    <button type="submit">Submit</button><button type="button" onclick="closeContactModal()">Cancel</button><br/><br/>
                  </div>
                  
                  <div class="modal-anchor-tags">
                    <span>Toll Free: <a href="tel: +919813806752">0091 9813806752</a></span>
                  </div>
                                  
                </form>
                <span class="X-contact" onclick="closeContactModal()">&times;</span>
            </div>
          </div>
          <!--Contact Modal ends here-->

        
             