
        <!--Sign in Modal starts here-->
        <div class="modal-parent-signin" id="signin">
            <div class="modal-signin">
                <h1 style="text-align: center;">Sign in</h1>      
                <form action="/signin" method="post" role="form">
                  <label for="username">Username</label><br/>
                  <input name="uname" type="username" placeholder="Enter Your Username..." required/><br/><br/>
                  <label for="password">Password</label><br/>
                  <input name="password" type="password" placeholder="Enter Your Password..." required id="password-input"/><br/><br/> 
                  <label class="show-password-label">Show Password</label><input type="checkbox" onclick="showPassword()" class="show-password-input"/>
                  
                  <br/><br/>
                  <div class="modal-button">
                    <button type="submit">Sign in</button><button onclick="closeSigninModal()">Cancel</button><br/><br/>
                  </div>
                  
                  <div class="modal-anchor-tags">
                    <a href="/forgotusername">Forgot Username</a> 
                    <a href="/forgotpassword">Forgot Password</a>                                 
                    <a href="#" onclick="openSignUpModal()">Sign up</a>
                  </div>
                 
                </form>
                <span class="X-signin">&times;</span>
            </div>
          </div>
          <!--Sign in Modal ends here-->
        
          <!--Sign up Customer Modal starts here-->
          <div class="modal-parent-signup">
            <div class="modal-signup">
                <h1 style="text-align: center;">Customer Registration</h1>        
                <form action="/signupcustomer" method="post" role="form" >
                  <label for="firstname">First Name</label><br/>
                  <input name="firstname" type="text" placeholder="Enter Your First Name..." required /><br/><br/>
                  <label for="lastname">Last Name</label><br/>
                  <input name="lastname" type="text" placeholder="Enter Your Last Name..." required /><br/><br/>
                  <label for="usrname">Username</label><br/>
                  <input name="usrname" type="username" placeholder="Create a Username..." required /><br/><br/>
                  <label for="mobilenumber">Mobile Number</label><br/>
                  <input name="mobilenumber" type="tel" placeholder="Enter Your Mobile Number..." required /><br/><br/>
                  <label for="email">Email</label><br/>
                  <input name="email" type="email" placeholder="Enter Your Email id..." required /><br/><br/>
                  <div class="modal-button">
                    <button type="submit">Proceed to Sign up</button><button type="reset">Reset</button><button onclick="closeSignupModal()">Cancel</button><br/><br/>
                  </div>
                  
                  <div class="modal-anchor-tags">
                    <a href="#" onclick="openSignInModal()">Log in</a>
                  </div>
                  
                </form>
                <span class="X-signup" onclick="closeSignupModal()">&times;</span>
            </div>
          </div>
          <!--Sign up Customer Modal ends here-->

          <!--Contact Us Modal starts here-->
                  
          <div class="modal-parent-contact">
            <div class="modal-contact">
                <h1 style="text-align: center;">Contact Us</h1>
                <form action="/contactus" method="post" role="form">
                  <label for="firstname">First Name</label><br/>
                  <input name="firstname" type="text" placeholder="Enter Your First Name..." required/><br/><br/>
                  <label for="lastname">Last Name</label><br/>
                  <input name="lastname" type="text" placeholder="Enter Your Last Name..." required/><br/><br/>
                  <label for="mobilenumber">Mobile Number</label><br/>
                  <input name="mobilenumber" type="tel" placeholder="Enter Your Mobile Number..." required/><br/><br/>
                  <label for="email">Email</label><br/>
                  <input name="email" type="email" placeholder="Enter Your Email id..." optional/><br/><br/>
                  <label>Write Message</label><br/>
                  <textarea name="writeusmessage" type="text" placeholder="Enter Your Message here...">
  
                  </textarea><br/><br/>
                  <div class="modal-button">
                    <button type="submit">Submit</button><button type="button" onclick="closeContactModal()">Cancel</button><br/><br/>
                  </div>
                  
                  <div class="modal-anchor-tags">
                    <span>Toll Free: <a href="tel: +919813806752">0091 9813806752</a></span>
                  </div>
                                  
                </form>
                <span class="X-contact" onclick="closeContactModal()">&times;</span>
            </div>
          </div>
          <!--Contact Modal ends here-->

          <!--Upload Profile image Modal starts here-->
                  
          <div class="modal-parent-upload-profile-image">
            <div class="modal-upload-profile-image">
             <!--
              <h3 style="text-align: left;">View Profile Picture</h1>
              <a href="#">View</a>
            -->
              <h3 style="text-align: center;">Update Profile Picture</h1>
                <form action="/uploadprofileimage" method="post" role="form" enctype="multipart/form-data">
                  <label for="profileimage">Choose Image</label><br/>
                  <input name="uploadprofileimage" type="file"/><br/><br/>
                  
                  <div class="modal-button">
                    <button type="submit">Submit</button><button type="button" onclick="closeUloadProfileImageModal()">Cancel</button><br/><br/>
                  </div>
                  
                  <div class="modal-anchor-tags">
                    <span>Advertising increases your sales <a href="/dashboardpostadd">Click here</a></span>
                  </div>
                                  
                </form>
                <span class="X-upload-profile-image" onclick="closeUloadProfileImageModal()">&times;</span>
            </div>
          </div>
          <!--Upload Profile image Modal ends here-->

<!-- Delete Confirmation Modal starts here-->          
<div class="modal-parent-confirmation-before-delete">
  <div class="modal-confirmation-before-delete">
      <h1>Are you sure, you want to delete this?</h1>
      <br/><br/>       
      
      <form id="delete-form" method="POST" role="form">                    
      <button class="delete-anchor delete-it-button" type="submit">Delete</button>                   
      </form><br/>

      <button style="cursor: pointer;" onclick="closeConfirmBeforeDeleteModal()">No</button><br/><br/>                                                                  
      <span class="X-confirmation-before-delete" onclick="closeConfirmBeforeDeleteModal()">&times;</span>
  </div>
</div>
<!-- Delete Confirmation Modal ends here-->

<!--Post freelance Job Modal starts here-->
                  
<div class="modal-parent-postfreelancejob">
  <div class="modal-postfreelancejob">
      <h1 style="text-align: center;">Post Freelance Job</h1>
      <form action="/freelancejobs" method="post" role="form">
        <label>Subject:</label><br/>
        <input type="text" name="subject" placeholder="Write Subject here..." required/>                   
            
        <br/><br/>                              
        <label>Describe requirements:</label><br/>
        <textarea name="description" required>
    
        </textarea><br/>          
        <label>Describe Budget ($):</label><br/>
        <input type="number" name="budget" required min="100"/><br/>
        
        <label>Describe Deadline:</label><br/>
        <input type="date" name="deadline" required/>
        <br/><br/>          
        <div class="modal-button">
          <button type="submit">Post Job</button>
          <br/>
          <button type="button" onclick="closePostFreelanceJobModal()">Cancel</button><br/><br/>
        </div>      
                        
      </form>
      <span class="X-postfreelancejob" onclick="closePostFreelanceJobModal()">&times;</span>
  </div>
</div>
<!--post freelance Modal ends here-->

 
          

        
             