<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        
        <h2>Other Templates</h2> 
        <div  id="fooandrestaurants">          
            <h3>Band Template</h3>            
            <a href="/bandtemplatedemo" target="_blank"><img class="class-img" src="images/bandtemplate.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/bandtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>
        
        <div  id="fooandrestaurants">          
            <h3>Photo Album Template</h3>            
            <a href="/photoalbumtemplatedemo" target="_blank"><img class="class-img" src="images/photoalbum.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/photoalbumtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>
                
    </div>  

</div>
<%- include('modal') %>
<%- include('footer') %>




