<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <h2>Portfolio Templates</h2>
        <div  id="fooandrestaurants">          
            <h3>Portfolio Template</h3>            
            <a href="/portfoliotemplatedemo" target="_blank"><img class="class-img" src="images/portfolio.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/portfoliotemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>CV (Resume) Template</h3>            
            <a href="/resumetemplatedemo" target="_blank"><img class="class-img" src="images/resume.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/resumetemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Photo Portfolio Template</h3>            
            <a href="/photoportfoliotemplatedemo" target="_blank"><img class="class-img" src="images/photoportfolio.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/photoportfoliotemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Nature Portfolio Template</h3>            
            <a href="/natureportfoliotemplatedemo" target="_blank"><img class="class-img" src="images/natureportfolio.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/natureportfoliotemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

                
    </div>  

</div>
<%- include('modal') %>
<%- include('footer') %>




