<%- include('header') %> 

<div class="item item3 main">
    <div class="container signout">
        <% if(msg != '') { %>
           <h2 style="margin: 3.5em auto 1em auto;"><%= msg  %></h2> 
        <% } %> 
        <h2 style="margin: 3.5em auto 1em auto;">Signed out Successfully</h2>
        <h2>Thanks for visiting us</h2>
        <h2 style="margin-bottom: 2em;">See You Again</h2>
    </div>

</div>


<%- include('modal') %> 
<%- include('footer') %> 