
<%- include('header')  %>
<div class="item2"></div>
<div class="item item3 main">

    <div class="container welcome specialoffers"> <!--welcome div-->
          
               <h1>Special Offers</h1>
               <h2>Currently There is no Special Offer available</h2> 
    </div>
</div> <!--main div ends here-->    
    
<div class=" item4"></div>


<%- include('modal') %>   
<%- include('footer') %> 