<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome getstarted" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>Start Earning Now</h2> 
        <div style="text-align: center; margin: auto; ">
            <h4>            
            <strong><em>How to Earn: </em></strong><span>Tell your friends, relatives or known people, to buy website from <a href="/startearning">www.quickwebsite.net</a> and earn money</span>
            </h4>
        </div> 
        <div style="text-align: center; padding: 1em;">
            <a href="/affiliatemarketerfirsttimers" style="padding: 1em; margin-top: 1em;">First Time Users</a>
            <br/>
            <a href="#" onclick="openSignInModal()" style="padding: 1em; margin-top: 1em;">Old Customers</a>
        </div>
              
            
        
            
            
    </div>     

</div>
<%- include('modal') %>
<%- include('footer') %>




