<%- include('dashboardheader') %>

<div class="item item3 main cart">
    <div class="container dashboardcart" >
        <br/><br/>
        <h1>Payment Status</h1>       
        
  <section>    
    <strong>Payment Successful</strong>
    <br/>
    <strong>Download Your Receipt</strong>
    <br/>
    <strong>Email Your Receipt</strong>
    
    
    <p>Invoice has been sent to your email id or you can download it from your dashboard</p>
    <div>
      Thanks For purchasing our Services! :)
    </div>
  </section>
</div>
</div>
<%- include('modal') %>

<%- include('dashboardfooter') %>