<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>Templates</h2>       
        
    </div>
</div>
<%- include('modal') %>
<%- include('footer') %>




