<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>All Templates</h2>

        <div  id="fooandrestaurants">          
            <h3>Pizza Restaurant Template</h3>            
            <a href="/pizzarestaurantdemo" target="_blank"><img class="class-img" src="images/pizzarestauranttemplate.jpg" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="window.open('/pizzarestaurantdemo', '_blank')">Demo</button><br/> 
            <!-- <button class="each-button" onclick="openSignInModal()">Use Template</button>  -->  
        </div>

        <hr/>

        <div >          
            <h3 >Catering Template</h3>            
            <a href="/cateringtemplatedemo" target="_blank"><img class="class-img" src="images/catering.jpg" width="90%" height="90%"/></a><br/>
            <button class="each-button" onclick="window.open('/cateringtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>
        
        <div  id="fooandrestaurants">          
            <h3>Modal Restaurant Template</h3>            
            <a href="/modalrestauranttemplatedemo" target="_blank"><img class="class-img" src="images/restaurantimage.jpg" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="window.open('/modalrestauranttemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Cafe Template</h3>            
            <a href="/cafetemplatedemo" target="_blank"><img class="class-img" src="images/coffee-shop-1209863_1920.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/cafetemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Portfolio Template</h3>            
            <a href="/portfoliotemplatedemo" target="_blank"><img class="class-img" src="images/portfolio.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/portfoliotemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>CV (Resume) Template</h3>            
            <a href="/resumetemplatedemo" target="_blank"><img class="class-img" src="images/resume.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/resumetemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Photo Portfolio Template</h3>            
            <a href="/photoportfoliotemplatedemo" target="_blank"><img class="class-img" src="images/photoportfolio.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/photoportfoliotemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Nature Portfolio Template</h3>            
            <a href="/natureportfoliotemplatedemo" target="_blank"><img class="class-img" src="images/natureportfolio.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/natureportfoliotemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Band Template</h3>            
            <a href="/bandtemplatedemo" target="_blank"><img class="class-img" src="images/bandtemplate.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/bandtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Blog Template</h3>            
            <a href="/blogtemplatedemo" target="_blank"><img class="class-img" src="images/blog.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/blogtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Food Blog Template</h3>            
            <a href="/foodblogtemplatedemo" target="_blank"><img class="class-img" src="images/foodblog.jpg" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="window.open('/foodblogtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Fashion Blog Template</h3>            
            <a href="/fashionblogtemplatedemo" target="_blank"><img class="class-img" src="images/fashionblog.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/fashionblogtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Cafe Blog Template</h3>            
            <a href="/cafeblogtemplatedemo" target="_blank"><img class="class-img" src="images/coffee-2242213_1920.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/cafeblogtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>
        <!--
        <div  id="fooandrestaurants">          
            <h3>Travel Blog Template</h3>            
            <a href="/travelblogtemplatedemo" target="_blank"><img class="class-img" src="images/travelblog.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/travelblogtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>
        
        <hr/>
-->
        <div  id="fooandrestaurants">          
            <h3>Clothing Store Template</h3>            
            <a href="/clothingstoretemplatedemo" target="_blank"><img class="class-img" src="images/clothingstore.jpg" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="window.open('/clothingstoretemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Coming Soon Template</h3>            
            <a href="/comingsoontemplatedemo" target="_blank"><img class="class-img" src="images/comingsoon.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/comingsoontemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Wedding Invitation Template</h3>            
            <a href="/weddinginvitationtemplatedemo" target="_blank"><img class="class-img" src="images/weddinginvitation.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/weddinginvitationtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3>Photo Album Template</h3>            
            <a href="/photoalbumtemplatedemo" target="_blank"><img class="class-img" src="images/photoalbum.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/photoalbumtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

                        
    </div>
</div>
<%- include('modal') %>

<%- include('footer') %>




