<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>All Templates</h2>

        <div  id="fooandrestaurants">          
            <h3>Pizza Restaurant Template</h3>            
            <a href="/pizzarestaurantdemo" target="_blank"><img class="class-img" src="images/pizzaRestaurant_temp.jpg" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="window.open('/pizzarestaurantdemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div >          
            <h3 >Catering Template</h3>            
            <a href="/cateringtemplatedemo" target="_blank"><img class="class-img" src="images/img_temp_gourmet_catering.jpg" width="90%" height="90%"/></a><br/>
            <button class="each-button" onclick="window.open('/cateringtemplatedemo', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>
        
        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/><div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                     
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>

        <div  id="fooandrestaurants">          
            <h3> Template</h3>            
            <a href="/" target="_blank"><img class="class-img" src="images/" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/', '_blank')">Demo</button><br/> 
            <button class="each-button" onclick="openSignInModal()">Use Template</button>   
        </div>

        <hr/>
        
    </div>
</div>
<%- include('modal') %>

<%- include('footer') %>




