<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome getstarted" ><!--welcome css working in this-->
        
        <h2>Web Page Templates</h2> 
                
    </div>  

</div>
<%- include('modal') %>
<%- include('footer') %>




