<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        
        <h2>Wedding Invitation Templates</h2> 
        <div  id="fooandrestaurants">          
            <h3>Wedding Invitation Template</h3>            
            <a href="/weddinginvitationtemplatedemo" target="_blank"><img class="class-img" src="images/weddinginvitation.jpg" width="90%" height="90%"/></a><br/>                      
            <button class="each-button" onclick="window.open('/weddinginvitationtemplatedemo', '_blank')">Demo</button><br/> 
            <!-- <button class="each-button" onclick="openSignInModal()">Use Template</button>    -->
            <a href="/getstarted">Order Now</a>
        </div>

        <hr/>      
    </div>  

</div>
<%- include('modal') %>
<%- include('footer') %>




